battery_controller_v2.json
[
    {
        "id": "flow_battery_v2",
        "type": "tab",
        "label": "Battery Controller v2",
        "disabled": false,
        "info": "Cost-optimized battery charge/discharge controller.\nQueries InfluxDB for prices, solar forecast, SOC, and load.\nOutputs optimal state for each 15-min price interval."
    },
    {
        "id": "inject_manual",
        "type": "inject",
        "z": "flow_battery_v2",
        "name": "Manual trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "manual",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "query_soc",
                "query_acload",
                "query_power",
                "query_solar",
                "query_load_history",
                "query_pv_hist_recent",
                "query_pv_hist_1y",
                "query_pv_hist_2y",
                "read_cached_prices",
                "query_pv_now"
            ]
        ]
    },
    {
        "id": "query_soc",
        "type": "change",
        "z": "flow_battery_v2",
        "name": "SOC from global",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "tot": "jsonata",
                "to": "[{\"soc\": ($exists($globalContext('bms').weightedSoc) and $globalContext('bms').ts > ($millis() - 1800000)) ? $globalContext('bms').weightedSoc : $globalContext('ess').Soc, \"maxPackSoc\": $globalContext('bms').maxPackSoc}]"
            }
        ],
        "x": 350,
        "y": 80,
        "wires": [
            [
                "set_topic_soc"
            ]
        ]
    },
    {
        "id": "set_topic_soc",
        "type": "change",
        "z": "flow_battery_v2",
        "name": "topic: soc",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "soc",
                "tot": "str"
            }
        ],
        "x": 600,
        "y": 40,
        "wires": [
            [
                "join_results"
            ]
        ]
    },
    {
        "id": "query_acload",
        "type": "influxdb in",
        "z": "flow_battery_v2",
        "influxdb": "influxdb_config_infra",
        "name": "AC Load",
        "query": "SELECT LAST(acload) AS acload FROM ess WHERE time > now() - 30m",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "",
        "x": 360,
        "y": 120,
        "wires": [
            [
                "set_topic_acload"
            ]
        ]
    },
    {
        "id": "set_topic_acload",
        "type": "change",
        "z": "flow_battery_v2",
        "name": "topic: acload",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "acload",
                "tot": "str"
            }
        ],
        "x": 610,
        "y": 80,
        "wires": [
            [
                "join_results"
            ]
        ]
    },
    {
        "id": "query_power",
        "type": "influxdb in",
        "z": "flow_battery_v2",
        "influxdb": "influxdb_config_infra",
        "name": "Power",
        "query": "SELECT LAST(Power) AS power FROM ess WHERE time > now() - 30m",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "",
        "x": 350,
        "y": 160,
        "wires": [
            [
                "set_topic_power"
            ]
        ]
    },
    {
        "id": "set_topic_power",
        "type": "change",
        "z": "flow_battery_v2",
        "name": "topic: power",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "power",
                "tot": "str"
            }
        ],
        "x": 610,
        "y": 120,
        "wires": [
            [
                "join_results"
            ]
        ]
    },
    {
        "id": "query_prices",
        "type": "http request",
        "z": "flow_battery_v2",
        "name": "Spotty Prices",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://i.spottyenergie.at/api/prices/MARKET/f82f2a62-37b9-4310-b75b-c3a8d4219faa?timezone=at",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 830,
        "y": 520,
        "wires": [
            [
                "transform_prices"
            ]
        ]
    },
    {
        "id": "transform_prices",
        "type": "function",
        "z": "flow_battery_v2",
        "name": "Cache & topic: prices",
        "func": "msg.topic = \"prices\";\nconst prices = (msg.payload || []).map(p => ({\n    time: new Date(p.from).getTime(),\n    marketprice: p.price\n}));\nmsg.payload = prices;\n// Cache in flow context with date stamp\nconst today = new Date().toISOString().slice(0, 10);\nconst cached = flow.get(\"cachedPrices\") || {};\n// Check if prices contain tomorrow (new data)\nconst tomorrow = new Date(Date.now() + 86400000).toISOString().slice(0, 10);\nconst hasTomorrow = prices.some(p => new Date(p.time).toISOString().slice(0, 10) === tomorrow);\nflow.set(\"cachedPrices\", {\n    date: today,\n    hasTomorrow: hasTomorrow,\n    prices: prices,\n    updatedAt: Date.now()\n});\nnode.status({ fill: hasTomorrow ? \"green\" : \"yellow\", shape: \"dot\", text: \"Prices updated \" + new Date().toLocaleTimeString(\"de-DE\", {timeZone: \"Europe/Berlin\"}) + (hasTomorrow ? \" (incl tomorrow)\" : \" (today only)\") });\nreturn null; // do NOT send to join — prices go via inject_read_prices",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 540,
        "wires": [
            [
                "retry_price_fetch"
            ]
        ]
    },
    {
        "id": "query_solar",
        "type": "influxdb in",
        "z": "flow_battery_v2",
        "influxdb": "influxdb_config_forecast",
        "name": "Solar",
        "query": "SELECT sunshineDurationInMinutes FROM forecastnew WHERE time >= now() - 1h ORDER BY time ASC",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "set_topic_solar"
            ]
        ]
    },
    {
        "id": "set_topic_solar",
        "type": "change",
        "z": "flow_battery_v2",
        "name": "topic: solar",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "solar",
                "tot": "str"
            }
        ],
        "x": 610,
        "y": 160,
        "wires": [
            [
                "join_results"
            ]
        ]
    },
    {
        "id": "query_load_history",
        "type": "influxdb in",
        "z": "flow_battery_v2",
        "influxdb": "influxdb_config_infra",
        "name": "Load History",
        "query": "SELECT mean(acload) AS avg_load FROM ess WHERE time > now() - 7d GROUP BY time(1h) ORDER BY time ASC",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "",
        "x": 370,
        "y": 240,
        "wires": [
            [
                "set_topic_load_history"
            ]
        ]
    },
    {
        "id": "set_topic_load_history",
        "type": "change",
        "z": "flow_battery_v2",
        "name": "topic: load_history",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "load_history",
                "tot": "str"
            }
        ],
        "x": 630,
        "y": 200,
        "wires": [
            [
                "join_results"
            ]
        ]
    },
    {
        "id": "join_results",
        "type": "join",
        "z": "flow_battery_v2",
        "name": "Join 9 queries",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "10",
        "count": "8",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 880,
        "y": 160,
        "wires": [
            [
                "get_weather"
            ]
        ]
    },
    {
        "id": "get_weather",
        "type": "function",
        "z": "flow_battery_v2",
        "name": "Add Weather Context",
        "func": "// Get weather from global context\nconst weather = global.get('weather') || {\n    temp: 15,\n    humidity: 50,\n    solarradiation: 0,\n    rainrate: 0\n};\n// Don't set fake sunRise/sunSet — let isDaylight use its hour-based fallback\nif (weather.sunRise === weather.sunSet) {\n    delete weather.sunRise;\n    delete weather.sunSet;\n}\nmsg.weather = weather;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 160,
        "wires": [
            [
                "optimizer"
            ]
        ]
    },
    {
        "id": "optimizer",
        "type": "function",
        "z": "flow_battery_v2",
        "name": "Battery Optimizer",
        "func": "// ============================================================\n// Battery Controller v2 - Cost Optimization Algorithm\n// ============================================================\n// Battery: 30 kWh, charger max 3500W, min SOC 3%\n// States: 1=charge from grid, 3=compensate load, 4=max discharge\n// Grid fee: +13 ct/kWh, reduced 20% in months 4-9 between 10:00-16:00\n// Hard rule: NEVER feed in at negative market prices (we'd pay the grid)\n// ============================================================\n\nconst BATTERY_CAPACITY_KWH = 30;\nconst MAX_CHARGE_W = 3500;\nconst MAX_DISCHARGE_W = 3500;\nconst AVG_LOAD_W = 700;\nconst MIN_SOC_PCT = 5;\nconst INTERVAL_HOURS = 0.25; // 15 minutes\nconst PV_PEAK_W = 5000;\nconst BASE_GRID_FEE = 13; // ct/kWh\nconst FEEDIN_MIN_MP_CT = 5; // never feed in below this market price (cycle wear + inverter losses exceed sub-ct revenue)\nconst MAX_GRID_CHARGE_SOC_PCT = 90; // Phase 3c projection cap: planner refuses to schedule grid-charge slots past 90% SOC. PV-driven fill above this is still allowed at runtime (no curtailment). Drops the most-expensive ~3 picks (typically pre-13:00 morning slots before next-day prices publish), reduces battery wear, preserves headroom for unforecast PV.\nconst FEEDIN_ROUNDTRIP_MARGIN_CT = 5; // Phase 3d round-trip margin: non-overflow feed-in mp must beat replacementPrice by this much. Raw mp-vs-effective comparison alone ignores inverter round-trip losses (~10%) and battery cycle wear — the 5 ct margin covers ~10% inverter losses + ~1.5 ct cycle wear at the typical 20 ct sell price (net ~1.5 ct/kWh remaining profit). Raised to 10 on 2026-05-19 when the false pvOpportunityPrice ~11ct was being applied across the board — dropping to 5 against pvOpp made thin spreads net losers. After the early pass was fixed to use strict minReplaceEff (no pvOpp bypass for pre-grid-charge slots), the margin/replacement combination became too strict and missed the legitimate 22.39 ct peak (real spread 5.49 ct vs minReplaceEff 16.90). Returned to 5 on 2026-05-19 (later 5).\nconst CROSSDAY_HOLD_SLACK_CT = 3; // Phase 3d cross-day hold: don't sell tonight's STORED energy when a materially higher stored-energy feed-in peak lies BEYOND the horizon (e.g. tomorrow evening). Tonight's mp must clear (futurePeak − this slack) to sell; otherwise hold the SOC for the better peak (captured next cycle once the horizon advances). The genuinely curtailment-bound portion (pvOnlyOverflow) is still sold tonight — it would be lost to PV curtailment if held. Slack avoids churn on near-ties and covers PV-forecast uncertainty (re-evaluated every 15 min).\n// Phase 3b-arb (arbitrage grid-charge): on exceptional-delta days, grid-charge cheap slots SPECIFICALLY to resell at a high feed-in peak before the next free PV refill. This deliberately opens the grid→feed-in path that the other phases block — guarded by a high NET hurdle so it only fires when the round-trip is genuinely profitable. Charged slots are tagged _plan='charge', so all existing charge handling (SOC sims, state=1 emit, Phase 3d feed-in budget + round-trip checks) sells the resulting surplus at the peak automatically.\nconst ARB_MIN_NET_CT = 16;      // required NET profit per kWh after round-trip loss + cycle wear: peakMp*ARB_RT_EFF − chargeEff − ARB_CYCLE_WEAR_CT ≥ this\nconst ARB_RT_EFF = 0.9;         // inverter+round-trip efficiency applied to sell revenue (~10% loss)\nconst ARB_CYCLE_WEAR_CT = 1.5;  // battery cycle-wear cost per kWh cycled\nconst ARB_CHARGE_SOC_PCT = 100; // arbitrage may fill to 100% (energy is dumped within hours; relaxes the normal 90% Phase 3c headroom cap)\nconst TIMEZONE = 'Europe/Berlin';\n\n// Timezone-aware time extraction (all logic must use local Berlin time, not UTC)\nconst _tzFmt = new Intl.DateTimeFormat('en-US', {\n    timeZone: TIMEZONE, hour: 'numeric', minute: 'numeric', month: 'numeric', hour12: false\n});\nfunction berlinTime(timeMs) {\n    const parts = _tzFmt.formatToParts(new Date(timeMs));\n    const get = type => parseInt(parts.find(p => p.type === type).value);\n    return { hour: get('hour'), minute: get('minute'), month: get('month') };\n}\n\n// --- Parse inputs ---\n// influxdb in nodes return arrays of {time, field1, field2, ...}\nconst raw = msg.payload;\nconst weather = msg.weather || {};\n\nfunction lastVal(arr, field) {\n    if (!arr || !arr.length) return null;\n    for (let i = arr.length - 1; i >= 0; i--) {\n        if (arr[i][field] !== null && arr[i][field] !== undefined) return arr[i][field];\n    }\n    return null;\n}\n\nfunction toTimeSeries(arr, field) {\n    if (!arr || !arr.length) return [];\n    return arr.filter(r => r[field] !== null && r[field] !== undefined).map(r => ({\n        time: typeof r.time === 'number' ? r.time : new Date(r.time).getTime(),\n        value: r[field]\n    }));\n}\n\n// Current SOC\nlet currentSoc = lastVal(raw.soc, 'soc');\nif (currentSoc === null) currentSoc = 50; // fallback\n\n// --- BMS-aware SOC guard ---------------------------------------------------\n// currentSoc now comes from the capacity-weighted BMS feed (global.bms, surfaced\n// by the \"SOC from global\" node) rather than the Victron aggregate, which has read\n// implausibly (e.g. 71.5% while the packs were really ~84%, then jumping +24% in\n// 12 min and grid-charging an almost-full pack). Two safety nets:\n//   1. range + physically-impossible-jump rejection      -> socTrust\n//   2. per-pack full-stop: never grid-charge if ANY single pack is near full\n//      (parallel packs of unequal size/SOH fill at different rates — the small\n//      bat_ost hits 100% long before the weighted average does).\nconst PACK_FULL_PCT = 97;\nconst _nowMs = Date.now();\nlet maxPackSoc = lastVal(raw.soc, 'maxPackSoc');\nif (typeof maxPackSoc !== 'number' || !isFinite(maxPackSoc)) maxPackSoc = null;\n\nlet socTrust = true;\nif (!(typeof currentSoc === 'number' && isFinite(currentSoc) && currentSoc >= 0 && currentSoc <= 100)) {\n    socTrust = false;\n    const _prev = (global.get('socGuard') || {}).soc;\n    currentSoc = (typeof _prev === 'number') ? _prev : 50;\n}\nconst _sg = global.get('socGuard') || {};\nif (socTrust && typeof _sg.soc === 'number' && typeof _sg.time === 'number') {\n    const _dtH = Math.max(0.001, (_nowMs - _sg.time) / 3600000);\n    const _maxJump = (MAX_CHARGE_W / (BATTERY_CAPACITY_KWH * 1000)) * 100 * _dtH * 1.3 + 2;\n    if (Math.abs(currentSoc - _sg.soc) > _maxJump) socTrust = false; // implausible jump → distrust\n}\nglobal.set('socGuard', { soc: currentSoc, time: _nowMs });\n// Suppress grid-charge of the LIVE slot when the reading can't be trusted or any\n// pack is full. (Applied at i===0 only; future slots re-evaluate next tick.)\nconst gridChargeBlocked = !socTrust || (maxPackSoc !== null && maxPackSoc >= PACK_FULL_PCT);\n\n// Current AC load\nlet currentLoad = lastVal(raw.acload, 'acload');\nif (currentLoad === null) currentLoad = AVG_LOAD_W;\n\n// Current battery power\nlet currentPower = lastVal(raw.power, 'power');\n\n// Current actual PV power from inverter\nlet currentPvPower = lastVal(raw.pv_now, 'pv_now');\nif (currentPvPower === null) currentPvPower = 0;\n\n// Price forecast\nconst prices = toTimeSeries(raw.prices, 'marketprice');\n\n// Solar forecast (sunshine minutes per hour)\nconst solarMinutes = toTimeSeries(raw.solar, 'sunshineDurationInMinutes');\n\n// Load history for hourly pattern\nconst loadHistory = toTimeSeries(raw.load_history, 'avg_load');\n\n// Build hourly load pattern (0-23h). Query returns one row per hour\n// over the last N days; aggregate across days per hour-of-day using\n// median so a single spike day (EV charge, heater, etc.) can't poison\n// the forecast. Fall back to AVG_LOAD_W for hours with <3 samples.\nconst hourlyLoad = new Array(24).fill(AVG_LOAD_W);\nconst loadByHour = new Array(24).fill(null).map(() => []);\nfor (const lh of loadHistory) {\n    if (lh.value > 0) loadByHour[berlinTime(lh.time).hour].push(lh.value);\n}\nfor (let h = 0; h < 24; h++) {\n    const vals = loadByHour[h];\n    if (vals.length < 3) continue;\n    const sorted = [...vals].sort((a, b) => a - b);\n    const mid = sorted.length >> 1;\n    hourlyLoad[h] = sorted.length % 2 ? sorted[mid] : (sorted[mid - 1] + sorted[mid]) / 2;\n}\n\n// PV history for hourly production profile, filtered by similar calendar period\nconst pvHistoryRaw = raw.pv_history || [];\n\n// Filter to ±15 days of current day-of-year (same season from previous years).\n// Use Date.now() (not `new Date()`) so this respects time mocks in tests:\n// `new Date()` bypasses a mocked Date.now and reads V8's wall clock directly.\nconst nowDate = new Date(Date.now());\nconst dayOfYear = Math.floor((nowDate.getTime() - new Date(nowDate.getFullYear(), 0, 0).getTime()) / 86400000);\nconst pvHistoryFiltered = pvHistoryRaw.filter(r => {\n    const t = typeof r.time === 'number' ? new Date(r.time) : new Date(r.time);\n    const doy = Math.floor((t.getTime() - new Date(t.getFullYear(), 0, 0).getTime()) / 86400000);\n    const diff = Math.abs(doy - dayOfYear);\n    return Math.min(diff, 365 - diff) <= 15;\n});\n\n// Build per-day profiles: { dateStr: { peak, hours: {h: avgPv} } }\nconst pvDays = {};\nfor (const r of pvHistoryFiltered) {\n    if (r.avg_pv === null && r.max_pv === null) continue;\n    const t = typeof r.time === 'number' ? new Date(r.time) : new Date(r.time);\n    const dateStr = t.toISOString().slice(0, 10);\n    const h = berlinTime(t.getTime()).hour;\n    if (!pvDays[dateStr]) pvDays[dateStr] = { peak: 0, hours: {} };\n    if (r.avg_pv > 0) pvDays[dateStr].hours[h] = r.avg_pv;\n    if (r.max_pv > pvDays[dateStr].peak) pvDays[dateStr].peak = r.max_pv;\n}\n\n\n// Per-day max sunshine ratio from forecast, keyed by Berlin local date.\n// Previously this was a single 7-day MAX across all forecast rows, which made\n// every day in the horizon share one baseline calibrated to the brightest hour\n// anywhere in the window. That caused sunny days to be matched against\n// medium-cloud historical days (underestimate) and cloudy days to be matched\n// against medium-cloud days too — the brightness signal was lost per-day.\nconst _dateFmt = new Intl.DateTimeFormat('en-CA', { timeZone: TIMEZONE });\nfunction berlinDateKey(timeMs) { return _dateFmt.format(new Date(timeMs)); }\n\nconst dailySunRatio = {};\nfor (const sm of solarMinutes) {\n    const key = berlinDateKey(sm.time);\n    const r = Math.min(Math.max(sm.value / 60, 0), 1);\n    if (r > (dailySunRatio[key] || 0)) dailySunRatio[key] = r;\n}\n\n// sunRatio ~1 = full sun → peak ~PV_PEAK_W, sunRatio ~0.3 = cloudy → peak ~1500W\n// Fallback ratio used when a slot's date has no forecast row (rare: past horizon).\nconst fallbackSunRatio = weather.solarradiation > 0\n    ? Math.min(weather.solarradiation / 1000, 1)\n    : 0.5;\n\n// Build a baseline (24h profile + reference ratio) for a given target sun ratio.\n// Strategy: take the K historical days whose peak is CLOSEST to the implied\n// target peak. Previous strict ±30% window plus 3-match minimum caused every\n// medium-cloud ratio to fall back to \"all days\" (sunny+cloudy mix), so a sunny\n// day's forecast couldn't exceed ~67% of all-days avg even with high sunshine.\n// Closest-K never falls back: a 0.27 ratio matches the cloudiest K days, a 0.9\n// ratio matches the sunniest K days. refRatio reflects the matched set's\n// actual peak, anchoring per-slot scaling correctly.\nconst _PV_BASELINE_K = 5;\nfunction buildPvBaseline(targetSunRatio) {\n    const targetPeak = targetSunRatio * PV_PEAK_W;\n    const dates = Object.keys(pvDays).filter(d => pvDays[d].peak > 200);\n    dates.sort((a, b) => Math.abs(pvDays[a].peak - targetPeak) - Math.abs(pvDays[b].peak - targetPeak));\n    const sourceDates = dates.slice(0, _PV_BASELINE_K);\n    let refRatio = targetSunRatio;\n    if (sourceDates.length > 0) {\n        const avgMatchedPeak = sourceDates.reduce((a, d) => a + pvDays[d].peak, 0) / sourceDates.length;\n        refRatio = Math.max(avgMatchedPeak / PV_PEAK_W, 0.1);\n    }\n    const profile = new Array(24).fill(0);\n    const byHour = new Array(24).fill(null).map(() => []);\n    for (const d of sourceDates) {\n        for (const [h, val] of Object.entries(pvDays[d].hours)) {\n            byHour[parseInt(h)].push(val);\n        }\n    }\n    for (let h = 0; h < 24; h++) {\n        if (byHour[h].length > 0) {\n            profile[h] = byHour[h].reduce((a, b) => a + b, 0) / byHour[h].length;\n        }\n    }\n    return { profile, refRatio };\n}\n\n// Cache baselines per unique daily ratio (≤7 horizon days, so tiny cache).\nconst _baselineCache = new Map();\nfunction baselineForRatio(r) {\n    const key = r.toFixed(3);\n    if (!_baselineCache.has(key)) _baselineCache.set(key, buildPvBaseline(r));\n    return _baselineCache.get(key);\n}\nconst fallbackBaseline = baselineForRatio(fallbackSunRatio);\n\nfunction getDayBaseline(timeMs) {\n    const r = dailySunRatio[berlinDateKey(timeMs)];\n    return r === undefined ? fallbackBaseline : baselineForRatio(r);\n}\n\n\nif (prices.length === 0) {\n    node.warn('No price data available');\n    msg.payload = { error: 'No price data available' };\n    return msg;\n}\n\n// --- Helper functions ---\nconst now = Date.now();\nconst sunRise = weather.sunRise ? new Date(weather.sunRise).getTime() : null;\nconst sunSet = weather.sunSet ? new Date(weather.sunSet).getTime() : null;\n\nfunction isDaylight(timeMs) {\n    if (!sunRise || !sunSet) {\n        const h = berlinTime(timeMs).hour;\n        return h >= 5 && h <= 18;\n    }\n    const rise = berlinTime(sunRise);\n    const set = berlinTime(sunSet);\n    const cur = berlinTime(timeMs);\n    const mins = cur.hour * 60 + cur.minute;\n    return mins >= (rise.hour * 60 + rise.minute) && mins <= (set.hour * 60 + set.minute);\n}\n\nfunction getSunshineRatio(timeMs) {\n    // Find nearest sunshine forecast (hourly data)\n    let best = null;\n    let bestDist = Infinity;\n    for (const sm of solarMinutes) {\n        const dist = Math.abs(sm.time - timeMs);\n        if (dist < bestDist) {\n            bestDist = dist;\n            best = sm;\n        }\n    }\n    if (best && bestDist < 2 * 3600 * 1000) {\n        return Math.min(best.value / 60, 1); // 0-1 ratio\n    }\n    // Fallback: use current solar radiation from weather\n    if (weather.solarradiation > 0 && isDaylight(timeMs)) {\n        return Math.min(weather.solarradiation / 1000, 1);\n    }\n    return 0;\n}\n\n// Strict version: returns the forecast sunshine ratio for the slot, or null\n// if the hourly forecast doesn't actually cover this time. Unlike\n// getSunshineRatio, it does NOT fall back to the current weather station\n// solarradiation — that reading only describes the current moment and would\n// silently apply to every slot (wrong). Callers use null to mean \"no forecast\n// adjustment available\" rather than \"forecast says zero\".\nfunction getSunshineForecast(timeMs) {\n    let best = null;\n    let bestDist = Infinity;\n    for (const sm of solarMinutes) {\n        const dist = Math.abs(sm.time - timeMs);\n        if (dist < bestDist) {\n            bestDist = dist;\n            best = sm;\n        }\n    }\n    if (best && bestDist < 90 * 60 * 1000) {\n        return Math.min(Math.max(best.value / 60, 0), 1);\n    }\n    return null;\n}\n\nfunction estimatePvPower(timeMs) {\n    if (!isDaylight(timeMs)) return 0;\n    const now = Date.now();\n    const hoursAhead = (timeMs - now) / (3600 * 1000);\n    const h = berlinTime(timeMs).hour;\n    const { profile: hourlyPv, refRatio: baselineRefRatio } = getDayBaseline(timeMs);\n    const basePvRaw = hourlyPv[h] || 0;\n\n    // Scale the per-day baseline by the per-slot sunshine forecast. baseline\n    // is calibrated to that day's peak sun ratio, but the morning/afternoon\n    // forecast can still differ from the peak hour within the same day.\n    let basePv = basePvRaw;\n    const slotForecast = getSunshineForecast(timeMs);\n    if (slotForecast !== null && basePvRaw > 0) {\n        basePv = basePvRaw * Math.min(slotForecast / baselineRefRatio, 1.2);\n    }\n\n    // Correct with real-time data for all remaining daylight slots today:\n    // 1. Actual inverter PV power (PAC) — most accurate\n    // 2. Solar radiation from weather station — good proxy when PAC unavailable\n    // Weather conditions persist, so apply correction broadly with gradual fade.\n    if (hoursAhead >= -0.5 && hoursAhead < 8) {\n        const todayBaseline = getDayBaseline(now).profile;\n        const currentH = berlinTime(now).hour;\n        const basePvNow = todayBaseline[currentH] || 1;\n        let scaleFactor = null;\n\n        // Prefer actual PV power from inverter\n        if (currentPvPower > 0 && basePvNow > 0) {\n            scaleFactor = currentPvPower / basePvNow;\n        }\n        // Fall back to solar radiation ratio (W/m² vs clear-sky ~1000 W/m²)\n        if (scaleFactor === null && weather.solarradiation > 0) {\n            const sunRatio = Math.min(weather.solarradiation / 1000, 1);\n            scaleFactor = sunRatio / Math.max(getSunshineRatio(now), 0.1);\n            scaleFactor = Math.max(0.1, Math.min(scaleFactor, 2.5));\n        }\n\n        if (scaleFactor !== null) {\n            if (basePvRaw <= 0) return hoursAhead < 0.5 ? (currentPvPower || 0) : 0;\n            // Blend: full correction now, fades to 30% correction at +8h\n            // Near-term (< 1h): 100% scaled, then gradual taper\n            const blend = hoursAhead <= 0 ? 1.0\n                : hoursAhead < 1 ? 1.0\n                : Math.max(0.3, 1 - (hoursAhead - 1) / 10); // 1.0 at 1h, 0.3 at 8h\n            // `scaled` uses the RAW hour baseline * scaleFactor so the PAC\n            // correction magnitude is preserved; we blend against the\n            // forecast-adjusted basePv (so weaker forecast means weaker far\n            // slots even when current PAC is strong).\n            const scaled = basePvRaw * scaleFactor;\n            return Math.min(basePv * (1 - blend) + scaled * blend, PV_PEAK_W);\n        }\n    }\n\n    if (basePv <= 0) return 0;\n\n    // Historical profile with rain adjustment for further-out slots\n    let rainFactor = 1;\n    if (weather.rainrate > 0) rainFactor = 0.3;\n\n    return Math.min(basePv * rainFactor, PV_PEAK_W);\n}\n\nfunction getGridFee(timeMs) {\n    const bt = berlinTime(timeMs);\n    let fee = BASE_GRID_FEE;\n    // 20% reduction in months 4-9, between 10:00-16:00 local time\n    if (bt.month >= 4 && bt.month <= 9 && bt.hour >= 10 && bt.hour < 16) {\n        fee = fee * 0.8;\n    }\n    return fee;\n}\n\nfunction getEffectivePrice(marketPrice, timeMs) {\n    // Total cost when charging from grid\n    return marketPrice + getGridFee(timeMs);\n}\n\nfunction getLoadEstimate(timeMs) {\n    const h = berlinTime(timeMs).hour;\n    return hourlyLoad[h] || AVG_LOAD_W;\n}\n\nfunction socToKwh(soc) {\n    return (soc / 100) * BATTERY_CAPACITY_KWH;\n}\n\nfunction kwhToSoc(kwh) {\n    return (kwh / BATTERY_CAPACITY_KWH) * 100;\n}\n\n// --- Main optimization ---\n// Strategy: plan-based price optimization\n//\n// Phase 1: Build schedule with PV/load estimates\n// Phase 2: Simulate SOC with PV+load only → find energy gaps and surpluses\n// Phase 3: Assign grid charging to cheapest slots where energy is needed\n// Phase 4: Assign feed-in to most expensive slots where surplus exists or\n//          battery capacity is needed for upcoming PV\n\n// Build the schedule array aligned to price data\nlet schedule = [];\n\n// First pass: compute effective prices and PV estimates\nfor (const p of prices) {\n    const t = p.time;\n    const marketPrice = p.value;\n    const effPrice = getEffectivePrice(marketPrice, t);\n    const pvPower = estimatePvPower(t);\n    const loadEst = getLoadEstimate(t);\n    const netPv = pvPower - loadEst; // positive = surplus, negative = deficit\n    \n    schedule.push({\n        time: t,\n        timeStr: new Date(t).toLocaleString('de-DE', { timeZone: 'Europe/Berlin', hour: '2-digit', minute: '2-digit', day: '2-digit', month: '2-digit' }),\n        marketPrice: marketPrice,\n        effectivePrice: effPrice,\n        gridFee: getGridFee(t),\n        pvPower: Math.round(pvPower),\n        loadEst: Math.round(loadEst),\n        netPv: Math.round(netPv),\n        state: null,\n        predictedSoc: null,\n        reason: '',\n        acPowerSetPoint: 0\n    });\n}\n\n// Reserve SOC for the \"unplanned window\" past the last price slot. The\n// next optimizer run will be blind beyond its own horizon until fresh\n// prices publish (~24h cadence), so reserve enough to carry through.\n// The reserve is weighted by the forecast: sunny tomorrow → low reserve\n// (night gap dominates); cloudy/bad forecast → reserve climbs because\n// PV never offsets load in the walk. Phase 3 picks up the higher socNeeded\n// and plans extra grid charging at the cheapest in-horizon slots.\nlet _postSchedLoadKwh = 0;\nlet _reserveDeferred = false;\nif (schedule.length > 0) {\n    const lastSlotEnd = schedule[schedule.length - 1].time + INTERVAL_HOURS * 3600 * 1000;\n    // Defer the multi-day reserve until tomorrow's prices publish (~13:00\n    // Berlin EPEX). Before publish, lastSchedTime is only ~24h out; we\n    // can't compare today's mid-day grid-charge cost against tomorrow's\n    // actual cheapest slots, so reserve picks become a blind bet that the\n    // forecast-driven walk overweights vs. real price data. User report\n    // 2026-05-19: 25 mid-day grid picks at ~18ct effective fired overnight\n    // (run at 01:00 Berlin) against a 48h walk forecasting bad PV — but\n    // tomorrow's prices weren't yet visible to confirm the bet. With\n    // pricesCoverTomorrow=true the 36h horizon already includes tomorrow's\n    // own slots, so the planner naturally picks the cheaper of {today,\n    // tomorrow} — no separate post-horizon reserve needed.\n    // 2026-05-20: bumped 25h->30h. At 25h an evening run (~20:45 Berlin) saw\n    // prices ~27h out — past 25h, so the reserve fired — yet those prices\n    // only cover *tomorrow*, not the day-after the reserve actually bets on.\n    // Result: ~8 kWh of ~11ct grid-charge committed in tomorrow-morning slots\n    // (e.g. 10:30) before the day-after prices publish. 30h defers the reserve\n    // until prices extend into the day-after (only true after the next ~13:00\n    // publish), while still deferring the overnight/early-morning blind case.\n    const pricesCoverTomorrow = (schedule[schedule.length - 1].time - now) > 30 * 3600 * 1000;\n    if (!pricesCoverTomorrow) {\n        _reserveDeferred = true;\n        // Overnight-bridge reserve: the multi-day (day-after) reserve is a blind\n        // bet before tomorrow's prices publish, so it's deferred. But the load\n        // from schedule-end until the NEXT sunrise is a KNOWN quantity, not a\n        // bet. Without it, evening feed-in drains SOC to the bare MIN+8 floor\n        // right as the horizon closes mid-night (schedule ends ~23:45 local\n        // pre-publish), emptying the battery into the small hours and forcing a\n        // morning grid rebuy / selling the marginal ~14ct late-evening tail\n        // (user report 2026-05-22: plan ended 23:45 local at ~11% with 5.5h of\n        // darkness left). Walk hour-by-hour from schedule-end to the first\n        // daylight hour, summing load (PV~=0 overnight), and hold that as the\n        // end-of-schedule floor so feed-in stops at the high-value peaks.\n        let _bridgeKwh = 0;\n        for (let h = 0; h < 18; h++) {\n            const t = lastSlotEnd + h * 3600000;\n            if (h > 0 && isDaylight(t)) break; // reached next sunrise\n            const loadW = getLoadEstimate(t);\n            let pvW = 0;\n            if (isDaylight(t)) {\n                const { profile: hourlyPv, refRatio: baselineRefRatio } = getDayBaseline(t);\n                const basePvRaw = hourlyPv[berlinTime(t).hour] || 0;\n                const slotForecast = getSunshineForecast(t);\n                const ratio = slotForecast !== null ? slotForecast : 0.5;\n                pvW = basePvRaw * Math.min(ratio / Math.max(baselineRefRatio, 0.1), 1.2);\n            }\n            _bridgeKwh += Math.max(0, loadW - pvW) / 1000;\n        }\n        _postSchedLoadKwh = _bridgeKwh;\n    } else {\n        // Multi-day post-horizon reserve. The walk weighs PV via\n        // getSunshineForecast (7d horizon), so good-weather days don't pad\n        // the reserve — only sustained PV deficits do. Needs both a long\n        // enough walk (48h) and a high enough cap (21 kWh ≈ 70% SOC) to\n        // surface a dead-PV streak; otherwise tonight's feed-in silently\n        // drains into a PV desert and forces peak-price grid recharge.\n        const RESERVE_HOURS = 48;\n        const MAX_RESERVE_KWH = 21; // ~70% SOC cap on a 30 kWh battery; survives multi-day PV deficits\n\n        // Fallback PV ratio for walk hours past the forecast window. Average\n        // the daylight forecast ratios from the tail of the schedule. <4 tail\n        // samples → 0.5 (neutral; not \"sunny\" default because that would hide\n        // bad-weather reserves when the forecast window is short).\n        let tomorrowPvRatio = 0.5;\n        {\n            const tail = [];\n            for (let i = schedule.length - 1; i >= 0 && tail.length < 16; i--) {\n                const s = schedule[i];\n                if (!isDaylight(s.time)) continue;\n                const fc = getSunshineForecast(s.time);\n                if (fc !== null) tail.push(fc);\n            }\n            if (tail.length >= 4) {\n                tomorrowPvRatio = tail.reduce((a, b) => a + b, 0) / tail.length;\n            }\n        }\n\n        // Net cumulative walk (allows PV surplus to offset prior deficit). The\n        // earlier Math.max(0, load-pv) form accumulated deficit-only and never\n        // discounted post-schedule sunny days — a 22nd at 694 sun-min would not\n        // offset a 21st deficit, so the cap pinned _postSchedLoadKwh near 21 kWh\n        // and endFloorSoc forced Phase 3c into ~18 noon grid charges on a bad-PV\n        // tomorrow. Track the running running cumulative net and floor at 0 (we\n        // can't pre-charge from future PV; max needed reserve is the deepest\n        // dip below end-of-schedule SOC across the walk).\n        let walkDef = 0;\n        let peakWalkDef = 0;\n        for (let h = 0; h < RESERVE_HOURS; h++) {\n            const t = lastSlotEnd + h * 3600000;\n            const loadW = getLoadEstimate(t);\n            let pvW = 0;\n            if (isDaylight(t)) {\n                const { profile: hourlyPv, refRatio: baselineRefRatio } = getDayBaseline(t);\n                const basePvRaw = hourlyPv[berlinTime(t).hour] || 0;\n                const slotForecast = getSunshineForecast(t);\n                const ratio = slotForecast !== null ? slotForecast : tomorrowPvRatio;\n                pvW = basePvRaw * Math.min(ratio / Math.max(baselineRefRatio, 0.1), 1.2);\n            }\n            walkDef += (loadW - pvW) / 1000; // can subtract on surplus hours\n            if (walkDef < 0) walkDef = 0; // can't pre-charge from future PV\n            if (walkDef > peakWalkDef) peakWalkDef = walkDef;\n        }\n        _postSchedLoadKwh = peakWalkDef;\n\n        if (_postSchedLoadKwh > MAX_RESERVE_KWH) _postSchedLoadKwh = MAX_RESERVE_KWH;\n    }\n}\n\n// Compute price statistics for thresholds\nconst allPrices = schedule.map(s => s.marketPrice);\nconst avgPrice = allPrices.reduce((a, b) => a + b, 0) / allPrices.length;\nconst minPrice = Math.min(...allPrices);\nconst maxPrice = Math.max(...allPrices);\nconst priceRange = maxPrice - minPrice;\n\n// Price range is used for feed-in candidate filtering\n\n// --- Pre-emptive discharge: empty battery before sunny day with negative prices ---\n// After ~13:00 tomorrow's prices are known. If tomorrow has strong solar AND\n// low/negative prices during solar hours, we should discharge tonight at the\n// highest available prices to create free capacity for tomorrow's PV.\nlet preemptiveDischargeSlots = new Set();\nlet targetSocForSunrise = null;\n\n(function computePreemptiveDischarge() {\n    if (schedule.length < 8) return;\n\n    // Find the glut day = the current or next daylight period. Previously\n    // this required a night→day transition, which silently disabled\n    // preemptive for any cron run after sunrise on the glut day itself\n    // (because tomorrow's prices haven't published yet, so the schedule\n    // contains no second sunrise to match). The right glut day to plan\n    // for is whatever daylight period is currently in front of us.\n    let nextSunriseIdx = -1;\n    for (let k = 0; k < schedule.length; k++) {\n        if (schedule[k].time < now - 1800000) continue;\n        if (isDaylight(schedule[k].time)) {\n            nextSunriseIdx = k;\n            break;\n        }\n    }\n    if (nextSunriseIdx < 0) return;\n\n    const sunriseTime = schedule[nextSunriseIdx].time;\n\n    // Collect glut day's daylight slots (contiguous from nextSunriseIdx)\n    const nextDayDaylightSlots = [];\n    for (let k = nextSunriseIdx; k < schedule.length; k++) {\n        if (isDaylight(schedule[k].time)) {\n            nextDayDaylightSlots.push(schedule[k]);\n        } else if (nextDayDaylightSlots.length > 0) {\n            break;\n        }\n    }\n    if (nextDayDaylightSlots.length === 0) return;\n\n    // Check tomorrow's daylight prices: count negative/very low price slots\n    let negPriceSlots = 0;\n    let veryLowSlots = 0;\n    for (const s of nextDayDaylightSlots) {\n        if (s.marketPrice <= 0) negPriceSlots++;\n        if (s.marketPrice < 3) veryLowSlots++;\n    }\n\n    // Need at least 1h of negative prices OR 2h of very low prices during daylight\n    if (negPriceSlots < 4 && veryLowSlots < 8) return;\n\n    // Estimate tomorrow's PV surplus. Use pvPower from schedule if available (has forecast),\n    // otherwise estimate conservatively from today's pattern.\n    let totalSurplusKwh = 0;\n    let hasForecastPv = false;\n    for (const s of nextDayDaylightSlots) {\n        if (s.pvPower > 200) hasForecastPv = true;\n        const pvEst = s.pvPower > 0 ? s.pvPower : estimatePvPower(s.time);\n        const surplusW = Math.max(0, pvEst - s.loadEst);\n        totalSurplusKwh += surplusW * INTERVAL_HOURS / 1000;\n    }\n\n    // If no PV forecast exists but prices are negative during daylight,\n    // that itself signals solar overproduction — estimate conservatively.\n    if (!hasForecastPv && negPriceSlots >= 4) {\n        // Negative daylight prices = strong solar expected.\n        // Conservative estimate: 3kW avg surplus for neg-price hours.\n        totalSurplusKwh = Math.max(totalSurplusKwh, negPriceSlots * INTERVAL_HOURS * 3);\n    }\n\n    if (totalSurplusKwh < 3) return;\n\n    // Target SOC at sunrise: free capacity = expected PV surplus.\n    // Floor is conditional: 30% when neg-prices confirm the glut (external\n    // signal, not just forecast), else 40% — forecast alone isn't trusted\n    // enough to drain deeper, and a higher floor protects the morning peak\n    // if PV underperforms.\n    const capacityNeededPct = kwhToSoc(totalSurplusKwh);\n    const socFloor = negPriceSlots >= 4 ? 30 : 40;\n    targetSocForSunrise = Math.max(socFloor, 100 - capacityNeededPct);\n    // Negative daylight prices = solar glut ahead. PV-surplus estimate can\n    // underestimate (forecast noise, fallback paths); the neg-price signal\n    // is the authoritative cue that capacity will be needed. Force ≤30%.\n    if (negPriceSlots >= 4) {\n        targetSocForSunrise = Math.min(targetSocForSunrise, 30);\n    }\n\n    // Drain deadline: the sunrise AFTER the glut day's sunset. The drain\n    // must be complete by then; the glut day itself (morning peak +\n    // mid-day trough + evening peak) is INSIDE the eligibility window\n    // and competes for slot picks on price.\n    //\n    // Why not just \"next sunrise\"? When the optimizer runs pre-dawn on\n    // the glut day, \"next sunrise\" is the start of the glut day — only\n    // hours away — and the morning price peak (which is technically\n    // \"during\" the glut day's daylight) gets excluded. Today's PV will\n    // refill any SOC drained at the morning peak, so the drain is free\n    // revenue. The post-glut sunrise is the right deadline.\n    let postGluteSunsetSeen = false;\n    let drainDeadlineTime = null;\n    for (let k = nextSunriseIdx + 1; k < schedule.length; k++) {\n        if (!isDaylight(schedule[k].time)) {\n            postGluteSunsetSeen = true;\n        } else if (postGluteSunsetSeen) {\n            drainDeadlineTime = schedule[k].time;\n            break;\n        }\n    }\n    if (drainDeadlineTime === null) {\n        // Schedule doesn't extend past the glut day — fall back to\n        // schedule end (next planning cycle, with fresher data, will\n        // continue from there).\n        drainDeadlineTime = schedule[schedule.length - 1].time + INTERVAL_HOURS * 3600 * 1000;\n    }\n\n    const eveningSlots = schedule.filter(s =>\n        s.time >= now - 1800000 && s.time < drainDeadlineTime\n    );\n    if (eveningSlots.length === 0) return;\n\n    // Project SOC under PV+load only (no preemptive drain) across the window.\n    // Track overflow (curtailed PV above 100%) — that energy is also drainable\n    // if we make room for it. Without PV in this calc, drain need is\n    // under-estimated whenever the window includes daylight hours.\n    let projSocAtSunrise = currentSoc;\n    let overflowPct = 0;\n    for (const s of eveningSlots) {\n        const netKwh = (s.pvPower - s.loadEst) * INTERVAL_HOURS / 1000;\n        projSocAtSunrise += kwhToSoc(netKwh);\n        if (projSocAtSunrise > 100) {\n            overflowPct += projSocAtSunrise - 100;\n            projSocAtSunrise = 100;\n        }\n        if (projSocAtSunrise < MIN_SOC_PCT) projSocAtSunrise = MIN_SOC_PCT;\n    }\n    const extraDrainNeeded = projSocAtSunrise + overflowPct - targetSocForSunrise;\n    if (extraDrainNeeded <= 3) return;\n\n    // Round-trip guard: feed-in revenue must beat replacement cost.\n    // Replacement = grid charging in the pre-sunrise \"dead zone\" where\n    // PV doesn't cover load — Phase 4 would plan state=1 there.\n    // Post-sunrise slots and PV-surplus slots are excluded: PV refills\n    // for free; we can't grid-charge during PV glut.\n    const replacementSlots = schedule.filter(s =>\n        s.time > now && s.time < sunriseTime && s.pvPower < s.loadEst);\n    const minReplacementEffPrice = replacementSlots.length\n        ? Math.min(...replacementSlots.map(s => s.effectivePrice))\n        : Infinity;\n\n    // DP-based pick: maximize Σ(mp × reliefSoc) over slots passing the\n    // chronological gate (pre-soc > target+3, matching Phase 4 line 1233)\n    // and the round-trip filter (mp > minReplacementEffPrice).\n    //\n    // Replaces the prior sort-by-mp DESC loop that ignored chronological\n    // SOC depletion: the highest-mp slots later in the day were starved\n    // by lower-mp earlier picks consuming the SOC budget, so Phase 4's\n    // gate demoted them to state=3 — losing the best feed-in revenue.\n    //\n    // State (slot_idx, soc_bucket); transitions skip vs pick. Reward is\n    // mp × (skip_delta - pick_delta) ≈ mp × MAX_DISCHARGE per slot — the\n    // physical SOC freed by feeding in vs. holding.\n    {\n        const sortedChrono = [...eveningSlots].sort((a, b) => a.time - b.time);\n        const N = sortedChrono.length;\n        if (N > 0) {\n            const SOC_QUANT = 0.5;\n            const NUM_B = Math.floor(100 / SOC_QUANT) + 1;\n            const gate = targetSocForSunrise + 3;\n\n            const skipDelta = sortedChrono.map(s =>\n                kwhToSoc((s.pvPower - s.loadEst) * INTERVAL_HOURS / 1000));\n            const pickDelta = sortedChrono.map(s =>\n                -kwhToSoc(Math.max(0, MAX_DISCHARGE_W + s.loadEst - s.pvPower) * INTERVAL_HOURS / 1000));\n            const reward = sortedChrono.map((s, i) =>\n                s.marketPrice > 0 && s.marketPrice > minReplacementEffPrice\n                    ? s.marketPrice * (skipDelta[i] - pickDelta[i])\n                    : -Infinity);\n\n            const clipSoc = (soc) => Math.max(MIN_SOC_PCT, Math.min(100, soc));\n            const bucket = (soc) => Math.round(clipSoc(soc) / SOC_QUANT);\n\n            const V = Array.from({ length: N + 1 }, () => new Float32Array(NUM_B));\n            const C = Array.from({ length: N }, () => new Uint8Array(NUM_B));\n\n            for (let i = N - 1; i >= 0; i--) {\n                for (let b = 0; b < NUM_B; b++) {\n                    const soc = b * SOC_QUANT;\n                    const vSkip = V[i+1][bucket(soc + skipDelta[i])];\n                    let vPick = -Infinity;\n                    if (reward[i] !== -Infinity && soc > gate) {\n                        vPick = reward[i] + V[i+1][bucket(soc + pickDelta[i])];\n                    }\n                    if (vPick > vSkip) { V[i][b] = vPick; C[i][b] = 1; }\n                    else { V[i][b] = vSkip; C[i][b] = 0; }\n                }\n            }\n\n            let walkSoc = currentSoc;\n            for (let i = 0; i < N; i++) {\n                if (C[i][bucket(walkSoc)] === 1) {\n                    preemptiveDischargeSlots.add(sortedChrono[i].time);\n                    walkSoc = clipSoc(walkSoc + pickDelta[i]);\n                } else {\n                    walkSoc = clipSoc(walkSoc + skipDelta[i]);\n                }\n            }\n        }\n    }\n\n    node.warn(`Preemptive ACTIVE: target=${targetSocForSunrise.toFixed(1)}%, sunrise=${new Date(sunriseTime).toISOString()}, extraDrain=${extraDrainNeeded.toFixed(1)}%, slots=${preemptiveDischargeSlots.size}, surplus=${totalSurplusKwh.toFixed(1)}kWh, negSlots=${negPriceSlots}, minReplaceEff=${isFinite(minReplacementEffPrice) ? minReplacementEffPrice.toFixed(1) : '∞'}ct`);\n})();\n\n// Remove past slots, only keep current and future\nschedule = schedule.filter(s => s.time >= now - 900000);\n\nconst maxChargeEnergy = MAX_CHARGE_W * INTERVAL_HOURS / 1000; // 0.875 kWh per slot\nconst maxDischargeEnergy = MAX_DISCHARGE_W * INTERVAL_HOURS / 1000;\n\n// ================================================================\n// PHASE 2: Simulate SOC with PV + load only (no grid interaction)\n// Identify where deficits and surpluses occur\n// ================================================================\nlet passiveSoc = currentSoc;\nfor (let i = 0; i < schedule.length; i++) {\n    const s = schedule[i];\n    const pvW = s.pvPower;\n    const loadW = s.loadEst;\n    const netPvW = pvW - loadW;\n    const netEnergy = netPvW * INTERVAL_HOURS / 1000;\n    passiveSoc = Math.max(MIN_SOC_PCT, Math.min(100, passiveSoc + kwhToSoc(netEnergy)));\n    s._passiveSoc = passiveSoc;\n}\n\n// ================================================================\n// PHASE 3: Plan charging at cheapest slots and feed-in at most expensive\n// ================================================================\n\n// Mark each slot with a planned action: 'charge', 'feedin', or null (compensate)\nfor (const s of schedule) s._plan = null;\n\n// Helper: a slot Phase 4 will runtime profit-charge (state=1, MAX_CHARGE_W)\n// because effectivePrice < 0 (paid to import). Skip during preemptive night.\nfunction isProfitChargeSlot(s) {\n    return s.effectivePrice < 0\n           && !(targetSocForSunrise !== null && !isDaylight(s.time));\n}\n\n// --- 3a. (removed) Never feed in at negative prices, regardless of magnitude ---\n\n// --- 3b. Force-assign preemptive discharge slots ---\nfor (const s of schedule) {\n    if (preemptiveDischargeSlots.has(s.time)) {\n        s._plan = 'feedin_preemptive';\n    }\n}\n\n// --- 3b-arb. Arbitrage grid-charge: charge cheap, resell at a high-delta peak ---\n// On exceptional-delta days, proactively grid-charge cheap slots to feed in\n// MORE energy at a high feed-in peak that lies BEFORE the next free PV refill.\n// The energy drained at the peak is replaced by tomorrow's free PV (the refill),\n// so the only real cost is the cheap grid charge + round-trip loss + cycle wear.\n// Gated by a high NET hurdle (ARB_MIN_NET_CT) so it stays dormant on normal days.\n// Pre-marking these as _plan='charge' (before Phase 3c) means: (a) the 3c\n// preemptive no-charge gate can't strip them (it only blocks 3c's OWN new picks),\n// and (b) Phase 3d sells the resulting surplus at the peak via its existing budget\n// + round-trip machinery (the peak mp ≫ the marginal charge cost).\n(function arbitrageGridCharge() {\n    if (schedule.length < 4) return;\n\n    // Forward bound: the next FREE PV refill (daylight slot where PV > load).\n    // Charging before it to sell before it is a clean intraday round-trip —\n    // the drained SOC is refilled by free PV, not a future grid recharge.\n    // Charging to sell PAST the refill would be a cross-day bet (left to the\n    // next cycle once that day's prices/PV firm up).\n    let arbHorizonIdx = schedule.length;\n    for (let i = 0; i < schedule.length; i++) {\n        if (isDaylight(schedule[i].time) && schedule[i].pvPower > schedule[i].loadEst) {\n            arbHorizonIdx = i;\n            break;\n        }\n    }\n    if (arbHorizonIdx < 2) return; // refill is already upon us; nothing to charge for\n\n    // Best feed-in peak within the bound (positive, above the feed-in floor).\n    // Include slots already tagged for feed-in (e.g. preemptive discharge) —\n    // those ARE where we resell; only 'charge' slots can't be the sell peak.\n    let peakIdx = -1, peakMp = -Infinity;\n    for (let i = 0; i < arbHorizonIdx; i++) {\n        const s = schedule[i];\n        if (s._plan === 'charge') continue;\n        if (s.marketPrice > FEEDIN_MIN_MP_CT && s.marketPrice > peakMp) {\n            peakMp = s.marketPrice;\n            peakIdx = i;\n        }\n    }\n    if (peakIdx < 1) return;\n\n    // Candidate charge slots: unplanned, before the peak, where grid is the real\n    // source (pv < load) and importing isn't already free/paid (eff ≥ 0; eff < 0\n    // is Phase 4 profit-charge territory). Must clear the NET round-trip hurdle\n    // against the peak: peakMp*ARB_RT_EFF − eff − wear ≥ ARB_MIN_NET_CT.\n    const cands = [];\n    for (let i = 0; i < peakIdx; i++) {\n        const s = schedule[i];\n        if (s._plan) continue;\n        if (s.pvPower >= s.loadEst) continue;\n        if (s.effectivePrice < 0) continue;\n        const net = peakMp * ARB_RT_EFF - s.effectivePrice - ARB_CYCLE_WEAR_CT;\n        if (net < ARB_MIN_NET_CT) continue;\n        cands.push({ idx: i, eff: s.effectivePrice, net, prePublish: berlinTime(s.time).hour < 13 });\n    }\n    if (cands.length === 0) return;\n    // Cheapest charge first; prefer post-13:00 (prices published) on ties.\n    cands.sort((a, b) => (a.prePublish - b.prePublish) || (a.eff - b.eff));\n\n    // Project SOC at the peak slot, capped at the arbitrage ceiling. Each kept\n    // pick must actually raise it (i.e. not be clamped away by a full battery\n    // in between) — this bounds total arbitrage charge to real battery room.\n    function projPeakSoc() {\n        let s0 = currentSoc;\n        for (let i = 0; i < peakIdx; i++) { // SOC entering the peak = deliverable energy\n            const s = schedule[i];\n            if (s._plan === 'charge') {\n                s0 += kwhToSoc(maxChargeEnergy);\n            } else if (s._plan === 'feedin_preemptive') {\n                const drainW = Math.max(0, MAX_DISCHARGE_W + s.loadEst - s.pvPower);\n                s0 -= kwhToSoc(drainW * INTERVAL_HOURS / 1000);\n            } else if (isProfitChargeSlot(s)) {\n                s0 += kwhToSoc(maxChargeEnergy);\n            } else {\n                s0 += kwhToSoc((s.pvPower - s.loadEst) * INTERVAL_HOURS / 1000);\n            }\n            s0 = Math.max(MIN_SOC_PCT, Math.min(ARB_CHARGE_SOC_PCT, s0));\n        }\n        return s0;\n    }\n\n    let picks = 0;\n    let before = projPeakSoc();\n    for (const c of cands) {\n        if (before >= ARB_CHARGE_SOC_PCT - 0.1) break; // battery full at the peak\n        schedule[c.idx]._plan = 'charge';\n        const after = projPeakSoc();\n        if (after > before + 0.1) {\n            picks++;\n            before = after;\n        } else {\n            schedule[c.idx]._plan = null; // clamped — didn't add deliverable energy\n        }\n    }\n\n    if (picks > 0) {\n        const cheapest = cands[0];\n        node.warn(`Phase 3b-arb: picks=${picks} peakMp=${peakMp.toFixed(1)}ct cheapestEff=${cheapest.eff.toFixed(1)}ct net=${cheapest.net.toFixed(1)}ct peakSoc→${before.toFixed(1)}% (cap ${ARB_CHARGE_SOC_PCT}%)`);\n    }\n})();\n\n// --- 3c. Plan charging: horizon-wide cheapest-slot selection ---\n// Iteratively simulate the SOC trajectory across the whole schedule.\n// Whenever a slot falls below MIN_SOC+5, pick the cheapest unplanned\n// upstream slot — across the WHOLE horizon, including PV-surplus slots —\n// and mark it as 'charge'. Grid charging and PV-to-battery are additive\n// (Phase 4 state=1 branch), so a cheap mid-day surplus slot is a valid\n// candidate for covering an evening deficit. If committing a candidate\n// doesn't actually raise SOC at the deficit slot (the extra charge was\n// clamped away by a full-battery stretch in between), revert and try the\n// next cheapest.\n{\n    const minTargetSoc = MIN_SOC_PCT + 5;\n\n    function simulateSocTrajectory() {\n        let s0 = currentSoc;\n        const traj = new Array(schedule.length);\n        for (let i = 0; i < schedule.length; i++) {\n            const s = schedule[i];\n            const pvW = s.pvPower;\n            const loadW = s.loadEst;\n            if (s._plan === 'charge') {\n                // Battery absorbs at most MAX_CHARGE_W total (grid + PV combined).\n                s0 += kwhToSoc(maxChargeEnergy);\n            } else if (s._plan === 'feedin_preemptive') {\n                const drainW = MAX_DISCHARGE_W + loadW - pvW;\n                s0 -= kwhToSoc(Math.max(0, drainW) * INTERVAL_HOURS / 1000);\n            } else if (isProfitChargeSlot(s)) {\n                // Phase 4 will profit-charge at MAX_CHARGE_W (grid + PV).\n                s0 += kwhToSoc(maxChargeEnergy);\n            } else {\n                s0 += kwhToSoc((pvW - loadW) * INTERVAL_HOURS / 1000);\n            }\n            // Clamp at MAX_GRID_CHARGE_SOC_PCT, not 100: once the projected\n            // trajectory hits this cap, additional charge picks raise it by\n            // 0 → the \"did this pick raise traj[d]?\" gate fails → Phase 3c\n            // exits. Real PV at runtime can still overshoot to 100; only\n            // the planner refuses to schedule grid slots past the cap.\n            s0 = Math.max(MIN_SOC_PCT, Math.min(MAX_GRID_CHARGE_SOC_PCT, s0));\n            traj[i] = s0;\n        }\n        return traj;\n    }\n\n    // The final slot must end high enough to survive the post-schedule\n    // unplanned window (_postSchedLoadKwh). Every other slot only needs to\n    // stay above the plain minTargetSoc floor — PV/charging can refill them.\n    const endSlotTarget = minTargetSoc + kwhToSoc(_postSchedLoadKwh);\n    const lastIdx = schedule.length - 1;\n    function slotTarget(d) {\n        return d === lastIdx ? endSlotTarget : minTargetSoc;\n    }\n\n    const MAX_CHARGE_PICKS = schedule.length;\n    let picks = 0;\n    for (let iter = 0; iter < MAX_CHARGE_PICKS; iter++) {\n        const traj = simulateSocTrajectory();\n\n        let committed = false;\n        // Walk deficits in time order. For each one, try cheapest-first\n        // upstream candidates. If none help, move on to the next deficit.\n        deficitLoop:\n        for (let d = 0; d < schedule.length; d++) {\n            if (traj[d] >= slotTarget(d)) continue;\n\n            const eligible = [];\n            for (let i = 0; i <= d; i++) {\n                const s = schedule[i];\n                if (s._plan) continue;\n                // No grid-charge at all during preemptive (confirmed glut day ahead):\n                // midday PV refills the battery for free, so defending the MIN+5 floor\n                // with pre-PV grid charges at retail is the sell-low/buy-high the user\n                // vetoes. Let SOC coast (household draws grid; the Phase 4 safety\n                // override is likewise suppressed during preemptive pre-PV). The prior\n                // gate keyed on isDaylight (flips at civil sunrise ~05:00 local, hours\n                // before PV ramps) then on pvPower<load, but Phase 3c just moved the\n                // charge to the next eligible slot each time (user report 2026-05-22:\n                // 2 morning charges at ~26ct before a 749 sun-min day). Negative-price\n                // profit charging is unaffected — that is Phase 3f, not 3c.\n                if (targetSocForSunrise !== null) continue;\n                eligible.push({ idx: i, effPrice: s.effectivePrice, prePublish: berlinTime(s.time).hour < 13 });\n            }\n            // Prefer slots at/after the ~13:00 Berlin price publish. Grid-charging\n            // earlier is a blind bet on prices that haven't published yet (user\n            // 2026-05-20: \"charge after 13:00, no need before — price diff is small\").\n            // Pre-13:00 slots stay a fallback so a genuine morning deficit is still\n            // covered: the sort lists them last, used only if no post-publish slot helps.\n            eligible.sort((a, b) => (a.prePublish - b.prePublish) || (a.effPrice - b.effPrice));\n\n            const socBefore = traj[d];\n            for (const cand of eligible) {\n                schedule[cand.idx]._plan = 'charge';\n                const newTraj = simulateSocTrajectory();\n                if (newTraj[d] > socBefore + 0.1) {\n                    committed = true;\n                    picks++;\n                    break deficitLoop;\n                }\n                schedule[cand.idx]._plan = null;\n            }\n        }\n        if (!committed) break;\n    }\n    const finalTraj = simulateSocTrajectory();\n    node.warn(`Phase 3c: picks=${picks} endTarget=${slotTarget(lastIdx).toFixed(1)}% endTraj=${finalTraj[lastIdx].toFixed(1)}% peakTraj=${Math.max(...finalTraj).toFixed(1)}% (cap ${MAX_GRID_CHARGE_SOC_PCT}%)${_reserveDeferred ? ` [multi-day reserve deferred; overnight bridge ${_postSchedLoadKwh.toFixed(1)}kWh]` : ''}`);\n}\n\n// --- 3d. Feed-in planning: discharge at highest prices when we have excess ---\n// Excess = SOC above what's needed for upcoming load until next PV surplus.\n// Also: free capacity for upcoming PV by discharging before solar hours.\n\n// Simulate forward again with charge plan applied to find available surplus\nlet simSoc = currentSoc;\nfor (let i = 0; i < schedule.length; i++) {\n    const s = schedule[i];\n    const pvW = s.pvPower;\n    const loadW = s.loadEst;\n\n    if (s._plan === 'charge') {\n        simSoc += kwhToSoc(maxChargeEnergy);\n    } else if (s._plan === 'feedin_preemptive') {\n        const drainW = MAX_DISCHARGE_W + loadW - pvW;\n        simSoc -= kwhToSoc(Math.max(0, drainW) * INTERVAL_HOURS / 1000);\n    } else if (isProfitChargeSlot(s)) {\n        simSoc += kwhToSoc(maxChargeEnergy);\n    } else {\n        simSoc += kwhToSoc((pvW - loadW) * INTERVAL_HOURS / 1000);\n    }\n    simSoc = Math.max(MIN_SOC_PCT, Math.min(100, simSoc));\n    s._plannedSoc = simSoc;\n}\n\n// --- 3d. Feed-in planning: budget-based with rolling-horizon ---\n// The optimizer re-runs every cycle. By tomorrow afternoon we will have actual\n// PV data and re-decide for tomorrow evening. So today's planning horizon ends\n// at the *next PV refill point* — the slot where passive (PV-load only) SOC\n// climbs back to a high level after dipping. Slots beyond that horizon belong\n// to the next planning cycle and must NOT compete with today's slots for SOC.\n//\n// 1) Find the next PV-refill point (horizon end).\n// 2) Compute the total SOC budget available for feed-in within the horizon.\n// 3) Greedily pick highest-priced unplanned slots within the horizon until\n//    the budget is spent.\n// 4) Forward-walk the WHOLE schedule to demote infeasible feed-ins and update\n//    _plannedSoc for output.\n\nfunction feedinDrainSoc(slot) {\n    const drainW = Math.max(0, MAX_DISCHARGE_W + slot.loadEst - slot.pvPower);\n    return kwhToSoc(drainW * INTERVAL_HOURS / 1000);\n}\n\n// Effective SOC relief from feeding in a slot vs. doing state=3 there.\n// state=3 net SOC delta = (pv-load)*INTERVAL_HOURS/1000 in kWh → kwhToSoc.\n// state=4 net SOC delta = -feedinDrainSoc.\n// Relief = state3_delta - feedin_delta = feedinDrainSoc + kwhToSoc((pv-load)*INTERVAL_HOURS/1000).\n// Used in Phase 3d budget loop: only this much overflow is actually displaced\n// per picked feed-in slot. Using full feedinDrainSoc there over-counts the\n// state=3 load-drain the slot would have done anyway, leading to too few\n// picks and residual runtime curtailment.\nfunction feedinReliefSoc(slot) {\n    const netKwh = (slot.pvPower - slot.loadEst) * INTERVAL_HOURS / 1000;\n    return feedinDrainSoc(slot) + kwhToSoc(netKwh);\n}\n\n// Find the rolling horizon by walking passive SOC (PV-load only) and\n// looking for a dip-and-recover pattern RELATIVE to the running peak:\n// flag `dipped` once SOC falls ≥5 points below the max seen so far,\n// then close the horizon at the first slot within 3 points of that peak.\n// Absolute thresholds (was: <70 / ≥85) missed cases where starting SOC\n// was already high enough that the overnight trough never broke 70 —\n// horizon would stay at schedule end, budget would collapse to 0, and\n// a legitimate evening peak wouldn't be picked for feed-in. Flat or\n// cloudy stretches never satisfy the 5-point dip, so horizon still\n// falls through to schedule end in those cases (end-floor path).\nlet horizonIdx = schedule.length;\n{\n    let testSoc = currentSoc;\n    let peakSoc = currentSoc;\n    let dipped = false;\n    for (let i = 0; i < schedule.length; i++) {\n        const s = schedule[i];\n        testSoc += kwhToSoc((s.pvPower - s.loadEst) * INTERVAL_HOURS / 1000);\n        testSoc = Math.max(MIN_SOC_PCT, Math.min(100, testSoc));\n        if (testSoc > peakSoc) peakSoc = testSoc;\n        if (peakSoc - testSoc >= 5) dipped = true;\n        if (dipped && peakSoc - testSoc <= 3) {\n            horizonIdx = i + 1; // include the refill slot itself\n            break;\n        }\n    }\n}\n\n// `replacementPrice` is hoisted so Phase 4's runtime \"battery full\" branch\n// can apply the same round-trip economic check that Phase 3d uses for\n// non-overflow feed-in (otherwise the runtime fires opportunistically at\n// the first soc≥95 slot regardless of whether the drained SOC will be\n// replaced at a higher cost).\nlet replacementPrice = Infinity;\n\n// Project SOC to the horizon WITHOUT any feed-in plans. Track overflow\n// (curtailed PV above 100%) separately so the \"battery will actually be\n// full\" case still contributes a feed-in budget.\n{\n    let projSoc = currentSoc;\n    let overflowSoc = 0;\n    for (let i = 0; i < horizonIdx; i++) {\n        const s = schedule[i];\n        const pvW = s.pvPower;\n        const loadW = s.loadEst;\n        if (s._plan === 'charge') {\n            projSoc += kwhToSoc(maxChargeEnergy);\n        } else if (s._plan === 'feedin_preemptive') {\n            projSoc -= feedinDrainSoc(s);\n        } else if (isProfitChargeSlot(s)) {\n            projSoc += kwhToSoc(maxChargeEnergy);\n        } else {\n            projSoc += kwhToSoc((pvW - loadW) * INTERVAL_HOURS / 1000);\n        }\n        // Cap at the runtime curtailment trigger (soc≥99), not 100. The budget\n        // must keep runtime peak BELOW 99 to prevent the soc≥99 branch from\n        // firing — using cap=100 here under-budgets by ~1% and leaves a stray\n        // curtailment slot at the edge.\n        if (projSoc > 99) {\n            overflowSoc += projSoc - 99;\n            projSoc = 99;\n        }\n        if (projSoc < MIN_SOC_PCT) projSoc = MIN_SOC_PCT;\n    }\n\n    // Continue projection PAST horizonIdx to capture PV curtailment beyond\n    // the refill slot. Without this, an evening with SOC≈100% + strong-PV\n    // tomorrow has budget=0: overnight drains SOC below 100, morning PV\n    // refills to 85% (horizon end), SOC never exceeds 100 in [0, horizonIdx),\n    // so overflowSoc=0 and no evening-peak feed-in is planned — even though\n    // tomorrow's PV will actually curtail once the battery hits 100.\n    // Walk to the end of the first post-horizon daylight period.\n    let postHorizonOverflow = 0;\n    if (horizonIdx < schedule.length) {\n        let extSoc = projSoc;\n        let sawDaylight = false;\n        for (let i = horizonIdx; i < schedule.length; i++) {\n            const s = schedule[i];\n            const pvW = s.pvPower;\n            const loadW = s.loadEst;\n            if (s._plan === 'charge') {\n                extSoc += kwhToSoc(maxChargeEnergy);\n            } else if (s._plan === 'feedin_preemptive') {\n                extSoc -= feedinDrainSoc(s);\n            } else if (isProfitChargeSlot(s)) {\n                extSoc += kwhToSoc(maxChargeEnergy);\n            } else {\n                extSoc += kwhToSoc((pvW - loadW) * INTERVAL_HOURS / 1000);\n            }\n            if (extSoc > 99) {\n                postHorizonOverflow += extSoc - 99;\n                extSoc = 99;\n            }\n            if (extSoc < MIN_SOC_PCT) extSoc = MIN_SOC_PCT;\n            if (isDaylight(s.time)) sawDaylight = true;\n            else if (sawDaylight) break;\n        }\n    }\n\n    // Budget calculation depends on whether a PV refill lies within the\n    // horizon AND whether that refill is \"free\" (driven by solar glut).\n    //\n    // * NO refill (horizon = full schedule, e.g. evening with no PV left):\n    //   anything above the overnight reserve is genuinely \"unused\" SOC and\n    //   can be sold at the best prices, plus any projected curtailment.\n    //\n    // * REFILL ahead, EXPENSIVE (needs grid charging): pre-refill prices\n    //   aren't competitive with the post-refill peak the NEXT planning\n    //   cycle will see. Budget = overflow only so we don't sell SOC we'd\n    //   otherwise carry cheaply into tomorrow's peak.\n    //\n    // * REFILL ahead, FREE (daylight + low/neg marketPrice + PV surplus):\n    //   SOC held past the refill gets replaced by PV for nothing, so pre-\n    //   refill peaks at any positive price are pure profit. Expand budget\n    //   against end-of-schedule floor.\n    const horizonIsRefill = horizonIdx < schedule.length;\n    let freeRefillAhead = false;\n    if (horizonIsRefill) {\n        for (let i = 0; i < horizonIdx; i++) {\n            const s = schedule[i];\n            if (isDaylight(s.time) && s.marketPrice < 3 && s.pvPower > s.loadEst) {\n                freeRefillAhead = true;\n                break;\n            }\n        }\n    }\n    let feedinBudgetSoc;\n    if (horizonIsRefill && !freeRefillAhead) {\n        feedinBudgetSoc = overflowSoc + postHorizonOverflow;\n    } else {\n        const endFloorSoc = kwhToSoc(_postSchedLoadKwh) + MIN_SOC_PCT + 8;\n        feedinBudgetSoc = Math.max(0, projSoc + overflowSoc - endFloorSoc);\n    }\n\n    // Greedy: pick highest-priced positive-price unplanned slots WITHIN the\n    // horizon until budget spent. Slots beyond horizon are not eligible —\n    // they belong to the next planning cycle.\n    const candidates = schedule\n        .slice(0, horizonIdx)\n        .map((s, idx) => ({ idx, s }))\n        .filter(({ s }) => !s._plan && s.marketPrice > FEEDIN_MIN_MP_CT)\n        .sort((a, b) => b.s.marketPrice - a.s.marketPrice);\n\n    // Pre-publish blind-window guard: when tomorrow's prices aren't loaded\n    // yet (~13:00 Berlin EPEX publish) AND tomorrow's PV forecast is low,\n    // minReplacementEffPrice can't see tomorrow's cheap-recharge slots —\n    // the round-trip filter under-estimates replacement cost. Recurring\n    // user-flagged loss: morning sell at 13–15ct → next-day grid-charge\n    // at ~15.5ct effective. Block non-overflow feed-in; overflow stays\n    // exempt (curtailment energy is free regardless of next-day prices).\n    const PV_REFILL_RATIO_THRESH = 0.60;\n    const _lastSchedTime = schedule.length ? schedule[schedule.length - 1].time : 0;\n    const pricesCoverTomorrow = (_lastSchedTime - now) > 25 * 3600 * 1000;\n    const _blindTail = [];\n    for (let i = schedule.length - 1; i >= 0 && _blindTail.length < 16; i--) {\n        const s = schedule[i];\n        if (!isDaylight(s.time)) continue;\n        const fc = getSunshineForecast(s.time);\n        if (fc !== null) _blindTail.push(fc);\n    }\n    const _tomorrowPvRatioP3d = _blindTail.length >= 4\n        ? _blindTail.reduce((a, b) => a + b, 0) / _blindTail.length\n        : 0.5;\n    const blindToTomorrow = !pricesCoverTomorrow && _tomorrowPvRatioP3d < PV_REFILL_RATIO_THRESH;\n\n    // Round-trip economic check: non-overflow feed-in must beat the\n    // cheapest effective price at which we could replace the drained SOC.\n    // Otherwise we'd sell at evening price and buy back at morning+gridFee\n    // on the next cycle — a net loss. Overflow SOC (curtailment) is\n    // exempt: that energy is lost anyway, so any positive revenue wins.\n    // Exclude PV-surplus slots: their cheap effective prices are phantom,\n    // we can't grid-charge while PV is filling the battery for free. The\n    // real replacement is morning compensate/charge at pv<load slots.\n    const minReplacementEffPrice = schedule\n        .filter(s => !s._plan && s.pvPower < s.loadEst)\n        .reduce((m, s) => Math.min(m, s.effectivePrice), Infinity);\n\n    // PV-refill opportunity cost: when sunny weather is genuinely ahead, the\n    // SOC we drain tonight will be replaced by tomorrow's PV. The real cost\n    // is the forgone PV-time feed-in revenue, not a hypothetical pre-sunrise\n    // grid recharge. Negative-mp PV slots cost 0 (we wouldn't feed in there).\n    // Scan the WHOLE schedule (not just [0, horizonIdx)) — the PV refill\n    // typically lies PAST horizonIdx since the horizon closes at the refill peak.\n    let pvOppSum = 0, pvOppCount = 0;\n    let cheapPvRefillAhead = false;\n    for (const s of schedule) {\n        if (isDaylight(s.time) && s.pvPower > s.loadEst) {\n            pvOppSum += Math.max(0, s.marketPrice);\n            pvOppCount++;\n            if (s.marketPrice < 3) cheapPvRefillAhead = true;\n        }\n    }\n    const pvOpportunityPrice = pvOppCount > 0 ? pvOppSum / pvOppCount : Infinity;\n    // Apply the PV-opportunity replacement only when PV ITSELF saturates\n    // the battery — i.e. a PV-only walk (no grid-charge plans) overflows.\n    // overflowSoc/postHorizonOverflow include _plan='charge' adds, so on\n    // weak-PV days where Phase 3c plans aggressive midday grid charging\n    // they hit >99 even though PV alone never would, falsely triggering\n    // pvOpportunityPrice (~avg pv-time mp, ~14ct) instead of the real\n    // grid-recharge cost (~minReplacementEffPrice, ~24ct). Result was\n    // sell-low/buy-high: morning peaks 15–16ct feed-in then midday grid\n    // refill at 22ct effective = ~6ct/kWh round-trip loss.\n    let pvOnlyOverflow = 0;\n    {\n        let s0 = currentSoc;\n        for (let i = 0; i < schedule.length; i++) {\n            const s = schedule[i];\n            s0 += kwhToSoc((s.pvPower - s.loadEst) * INTERVAL_HOURS / 1000);\n            if (s0 > 99) { pvOnlyOverflow += s0 - 99; s0 = 99; }\n            if (s0 < MIN_SOC_PCT) s0 = MIN_SOC_PCT;\n        }\n    }\n    // pvOnlyOverflow > 0 was too loose: 0.6% of phantom overflow (~0.18 kWh) on a\n    // bad-PV day (74 sun-min) was enough to trigger pvOpportunityPrice (~11 ct) as\n    // replacement, letting a 22.39 ct evening feed-in pass against a 14ct real grid\n    // refill cost. The non-overflow portion of feed-in needs grid-refill (~18.69 ct\n    // here), not PV — only treat curtailment as the replacement when PV overflow is\n    // substantive (≥ 5 % SOC ≈ 1.5 kWh).\n    const PV_CURTAIL_MIN_SOC = 5;\n    const pvWillCurtail = pvOnlyOverflow >= PV_CURTAIL_MIN_SOC;\n\n    // Post-schedule PV overflow walk (48h past schedule end). When the next\n    // 48h forecast a strong PV refill (e.g. day-after-tomorrow with 600+\n    // sun-min), the energy we feed-in at tomorrow's evening peak is replaced\n    // by free post-schedule PV rather than grid recharge. The in-schedule\n    // pvOnlyOverflow misses this because the horizon ends before the refill.\n    let postSchedPvOverflow = 0;\n    if (schedule.length > 0) {\n        const lastSlotEnd_3d = schedule[schedule.length - 1].time + INTERVAL_HOURS * 3600 * 1000;\n        let walkSoc = projSoc;\n        for (let h = 0; h < 48; h++) {\n            const t = lastSlotEnd_3d + h * 3600000;\n            const loadW = getLoadEstimate(t);\n            let pvW = 0;\n            if (isDaylight(t)) {\n                const { profile: hourlyPv, refRatio: baselineRefRatio } = getDayBaseline(t);\n                const basePvRaw = hourlyPv[berlinTime(t).hour] || 0;\n                const slotForecast = getSunshineForecast(t);\n                const ratio = slotForecast !== null ? slotForecast : 0.5;\n                pvW = basePvRaw * Math.min(ratio / Math.max(baselineRefRatio, 0.1), 1.2);\n            }\n            walkSoc += kwhToSoc((pvW - loadW) / 1000);\n            if (walkSoc > 99) { postSchedPvOverflow += walkSoc - 99; walkSoc = 99; }\n            if (walkSoc < MIN_SOC_PCT) walkSoc = MIN_SOC_PCT;\n        }\n    }\n    const postSchedPvWillCurtail = postSchedPvOverflow >= PV_CURTAIL_MIN_SOC;\n\n    // Position guard: post-schedule PV only refills energy we feed-in AFTER\n    // the last planned grid-charge. A slot before any planned charge is\n    // replaced by that grid charge, not by post-schedule PV — applying the\n    // looser late-slot economics there would re-create the sell-low/buy-high\n    // round trip the strict check blocks.\n    let lastPlannedChargeIdx = -1;\n    for (let i = schedule.length - 1; i >= 0; i--) {\n        if (schedule[i]._plan === 'charge') { lastPlannedChargeIdx = i; break; }\n    }\n\n    replacementPrice = (cheapPvRefillAhead || pvWillCurtail)\n        ? Math.min(minReplacementEffPrice, pvOpportunityPrice)\n        : minReplacementEffPrice;\n    const replacementPriceLate = (cheapPvRefillAhead || pvWillCurtail || postSchedPvWillCurtail)\n        ? Math.min(minReplacementEffPrice, pvOpportunityPrice)\n        : minReplacementEffPrice;\n    const eligibleOverflowLate = pvOnlyOverflow + postSchedPvOverflow;\n\n    // Single-pass selection with per-slot replacement logic. Candidates are\n    // sorted by mp DESC, so picks happen in best-revenue-first order globally.\n    //\n    // For each candidate, the replacement source depends on its position\n    // relative to the last planned Phase 3c grid-charge:\n    //   - AFTER lastPlannedChargeIdx (\"late\"): post-schedule PV refills it,\n    //     so use min(minReplaceEff, pvOpportunityPrice) when post-sched (or\n    //     in-horizon) PV will curtail. Overflow budget includes postSchedPvOverflow.\n    //   - AT-OR-BEFORE lastPlannedChargeIdx (\"early\"): the replacement is the\n    //     next-cheapest unplanned grid-charge slot (= minReplaceEff). No\n    //     pvOpportunity bypass — future PV lies beyond a planned charge wall\n    //     and won't actually refill the energy we drain here.\n    //\n    // Failed round-trip check uses `continue` (not `break`): a high-mp early\n    // slot may fail strict check while a lower-mp late slot still passes its\n    // looser check. Within the SAME pass-eligibility class (early or late),\n    // mp DESC ordering means cheaper-but-lower-mp slots strictly fail the same\n    // check, so continue is harmless. usedBudget guard still breaks the loop\n    // once the feed-in budget is spent.\n    // Early feed-in (before/at the last planned grid-charge) is replaced by\n    // EXTENDING tomorrow's grid-charge into its MARGINAL (most-expensive) slots,\n    // not the single globally-cheapest unplanned slot. Holding 1 kWh tonight\n    // drops the priciest planned charge slot, so the marginal refill cost is the\n    // max effective price among planned 'charge' slots. Using minReplaceEff here\n    // (e.g. a 12.7 ct summer-discounted midday slot) let tonight's ~18 ct evening\n    // peak pass the round-trip check while the real rebuy cost was ~22 ct\n    // effective — the \"discharge today, charge tomorrow\" loss the user flagged.\n    const _plannedChargeEffs = schedule.filter(s => s._plan === 'charge').map(s => s.effectivePrice);\n    const _marginalChargeEff = _plannedChargeEffs.length ? Math.max(..._plannedChargeEffs) : -Infinity;\n    const replacementPriceEarly = Math.max(minReplacementEffPrice, _marginalChargeEff);\n\n    // --- Cross-day feed-in hold (opportunity-cost floor) ---\n    // Tonight's candidates only span [0, horizonIdx); a materially higher\n    // feed-in peak BEYOND the horizon (tomorrow evening) is invisible to this\n    // greedy pass, and the round-trip check only guards grid REBUY cost. When\n    // pvWillCurtail is true it even uses pvOpportunityPrice (~PV-time mp, low) as\n    // replacement, so tonight's stored energy sells at 14–18ct while tomorrow's\n    // 46ct peak is missed (the reported case). Fix: when a refill horizon exists,\n    // find the best stored-energy (pv<load) feed-in peak BEYOND the horizon and\n    // require tonight's feed-in to clear it (minus slack) to sell — otherwise\n    // hold the SOC for that better peak (captured next cycle as the horizon\n    // advances). The genuinely curtailment-bound portion (pvOnlyOverflow) is\n    // still sold tonight (see the exemption in the loop): that energy would be\n    // lost to curtailment if held, so selling it at any price beats wasting it.\n    let futurePeakHoldPrice = -Infinity;\n    if (horizonIsRefill) {\n        let futurePeakMp = -Infinity;\n        for (let i = horizonIdx; i < schedule.length; i++) {\n            const s = schedule[i];\n            // Only stored-energy slots (pv<load): a high price during a PV\n            // surplus is served by PV, not the battery — no reason to hold for it.\n            if (s.pvPower < s.loadEst && s.marketPrice > futurePeakMp) futurePeakMp = s.marketPrice;\n        }\n        if (isFinite(futurePeakMp)) {\n            futurePeakHoldPrice = futurePeakMp - CROSSDAY_HOLD_SLACK_CT;\n            node.warn(`Cross-day hold: future peak ${futurePeakMp.toFixed(1)}ct beyond horizon → hold tonight stored-energy feed-in below ${futurePeakHoldPrice.toFixed(1)}ct (curtailment-bound ${pvOnlyOverflow.toFixed(1)}% still sells)`);\n        }\n    }\n\n    let usedBudget = 0;\n    for (const { s, idx } of candidates) {\n        const relief = feedinReliefSoc(s);\n        if (relief <= 0) continue;\n        if (usedBudget >= feedinBudgetSoc) break;\n        const isLate = idx > lastPlannedChargeIdx;\n        const slotReplacementPrice = isLate ? replacementPriceLate : replacementPriceEarly;\n        const slotEligibleOverflow = isLate ? eligibleOverflowLate : pvOnlyOverflow;\n        // Curtailment (\"overflow\") energy only physically exists in slots where\n        // PV actually exceeds load and the battery is at cap. Feeding the early\n        // overflow budget into a PV<=load slot (e.g. tonight's evening peak,\n        // PV=0) drains STORED energy that a later grid-charge then replaces at\n        // retail — the \"discharge today, charge tomorrow\" round-trip loss. So an\n        // early (pre-grid-charge) slot is overflow-exempt only when it is itself\n        // a real PV-surplus slot; otherwise it must pass the round-trip check.\n        // Late slots (after the last planned grid-charge) keep the existing\n        // next-day-PV-refill exemption via isLate.\n        const isOverflowOnly = usedBudget + relief <= slotEligibleOverflow\n            && (isLate || s.pvPower > s.loadEst);\n        // Cross-day hold: don't sell STORED energy tonight below a materially\n        // higher future peak. Exempt only the genuinely curtailment-bound\n        // portion (within pvOnlyOverflow — real in-schedule PV curtailment that\n        // would be lost if held), NOT the postSched-inclusive isOverflowOnly\n        // budget (post-schedule overflow is speculative and days past the peak).\n        const genuineOverflowExempt = (usedBudget + relief <= pvOnlyOverflow)\n            && (isLate || s.pvPower > s.loadEst);\n        if (!genuineOverflowExempt && s.marketPrice < futurePeakHoldPrice) continue;\n        if (!isOverflowOnly && (blindToTomorrow || s.marketPrice <= slotReplacementPrice + FEEDIN_ROUNDTRIP_MARGIN_CT)) continue;\n        s._plan = 'feedin_surplus';\n        usedBudget += relief;\n    }\n    // Rationale for `break` (not `continue`): candidates are sorted by\n    // marketPrice DESC. If the current slot doesn't fit, falling through to\n    // cheaper-but-smaller slots would replace a potentially big high-priced\n    // slot with a small low-priced one — strictly worse revenue. Leave the\n    // remaining budget unused; it'll carry over into the next planning cycle\n    // or, if curtailment actually happens, Phase 4's runtime \"battery full\"\n    // branch handles it.\n}\n\n// --- 3d.2. Saturation cluster pre-pick ---\n// Even when projected SOC peaks below 100% (no formal overflow) but stays\n// at ≥95% across a run of PV-surplus slots, the runtime \"battery full\"\n// fallback would otherwise fire at the FIRST slot crossing 95% — which is\n// often a price dip, not the cluster's best mp. This pass walks the passive\n// projection (`_plannedSoc` set in the simSoc loop above), identifies\n// consecutive (soc≥95 + PV>load+500) clusters Phase 3d didn't already\n// commit, and marks the highest-mp slot per cluster as `feedin_saturation`\n// — but only if mp beats `replacementPrice` (otherwise no feed-in is\n// economically justified anywhere in the cluster).\n{\n    let i = 0;\n    while (i < schedule.length) {\n        const s = schedule[i];\n        const inCluster = s._plannedSoc >= 95 && (s.pvPower - s.loadEst) > 500;\n        if (!inCluster) { i++; continue; }\n        let j = i;\n        while (j + 1 < schedule.length\n               && schedule[j+1]._plannedSoc >= 95\n               && (schedule[j+1].pvPower - schedule[j+1].loadEst) > 500) {\n            j++;\n        }\n        let bestIdx = -1, bestMp = -Infinity;\n        for (let k = i; k <= j; k++) {\n            const sk = schedule[k];\n            if (sk._plan) continue;\n            if (sk.marketPrice <= FEEDIN_MIN_MP_CT) continue;\n            if (sk.marketPrice <= replacementPrice) continue;\n            if (sk.marketPrice > bestMp) { bestMp = sk.marketPrice; bestIdx = k; }\n        }\n        if (bestIdx >= 0) {\n            schedule[bestIdx]._plan = 'feedin_saturation';\n            node.warn(`Saturation cluster [${i}..${j}]: pick idx=${bestIdx} mp=${bestMp.toFixed(2)}ct (replacement ${replacementPrice.toFixed(1)}ct)`);\n        }\n        i = j + 1;\n    }\n}\n\n// --- 3e. Pre-discharge for upcoming profit-charge windows ---\n// When consecutive ep<0 slots will saturate the battery and curtail\n// paid-to-import, plan feed-in BEFORE each window at the highest-mp\n// unplanned earlier slots. Round-trip is mp_discharge + |min_ep_in_window|\n// minus cycle wear; threshold is mp > minEp + cycle_wear (typically\n// negative for deep neg-eff, so any mp > 0 passes).\n{\n    const PROFIT_CHARGE_CYCLE_WEAR_CT = 3;\n\n    // Walk schedule, simulate SOC including profit-charge to find each\n    // saturated profit-charge stretch and its overflow.\n    let walkSoc = currentSoc;\n    let stretchStart = -1;\n    let stretchOverflow = 0;\n    let stretchMinEp = Infinity;\n    const stretches = [];\n\n    function closeStretch(endIdx) {\n        if (stretchStart >= 0 && stretchOverflow > 0.1) {\n            stretches.push({ start: stretchStart, end: endIdx,\n                             overflowSoc: stretchOverflow, minEp: stretchMinEp });\n        }\n        stretchStart = -1;\n        stretchOverflow = 0;\n        stretchMinEp = Infinity;\n    }\n\n    for (let i = 0; i < schedule.length; i++) {\n        const s = schedule[i];\n        const pvW = s.pvPower;\n        const loadW = s.loadEst;\n        const profitCharge = isProfitChargeSlot(s);\n\n        let socDelta;\n        if (s._plan === 'charge') {\n            socDelta = kwhToSoc(maxChargeEnergy);\n        } else if (s._plan === 'feedin_preemptive'\n                   || s._plan === 'feedin_surplus'\n                   || s._plan === 'feedin_capacity') {\n            socDelta = -feedinDrainSoc(s);\n        } else if (profitCharge) {\n            socDelta = kwhToSoc(maxChargeEnergy);\n        } else {\n            socDelta = kwhToSoc((pvW - loadW) * INTERVAL_HOURS / 1000);\n        }\n\n        walkSoc += socDelta;\n        let overflow = 0;\n        if (walkSoc > 100) { overflow = walkSoc - 100; walkSoc = 100; }\n        if (walkSoc < MIN_SOC_PCT) walkSoc = MIN_SOC_PCT;\n\n        if (profitCharge) {\n            if (stretchStart < 0) stretchStart = i;\n            stretchOverflow += overflow;\n            if (s.effectivePrice < stretchMinEp) stretchMinEp = s.effectivePrice;\n        } else {\n            closeStretch(i);\n        }\n    }\n    closeStretch(schedule.length);\n\n    // For each stretch, plan pre-discharge at most-expensive earlier\n    // unplanned slots until overflow consumed.\n    for (const st of stretches) {\n        const minThreshold = Math.max(FEEDIN_MIN_MP_CT, st.minEp + PROFIT_CHARGE_CYCLE_WEAR_CT);\n        const candidates = schedule\n            .slice(0, st.start)\n            .map((s, idx) => ({ idx, s }))\n            .filter(({ s }) => !s._plan\n                               && s.marketPrice > minThreshold\n                               && feedinDrainSoc(s) > 0)\n            .sort((a, b) => b.s.marketPrice - a.s.marketPrice);\n\n        let freed = 0;\n        for (const { s } of candidates) {\n            if (freed >= st.overflowSoc) break;\n            s._plan = 'feedin_capacity';\n            freed += feedinDrainSoc(s);\n        }\n        node.warn(`Phase 3e: stretch [${st.start}..${st.end}] minEp=${st.minEp.toFixed(1)}ct overflow=${st.overflowSoc.toFixed(1)}% freed=${freed.toFixed(1)}% threshold=${minThreshold.toFixed(1)}ct`);\n    }\n}\n\n// --- 3f. Within each profit-charge stretch, plan the K cheapest-ep slots ---\n// Phase 4 no longer profit-charges greedily by time; instead, Phase 3f selects\n// the deepest-negative slots within each stretch up to the entry-SOC headroom.\n// Slots NOT picked stay unplanned and fall through to Phase 4's PV-surplus /\n// curtail branches.\n{\n    function applyDelta(s, soc) {\n        let d;\n        if (s._plan === 'charge') d = kwhToSoc(maxChargeEnergy);\n        else if (s._plan === 'feedin_preemptive'\n                 || s._plan === 'feedin_surplus'\n                 || s._plan === 'feedin_capacity') d = -feedinDrainSoc(s);\n        else d = kwhToSoc((s.pvPower - s.loadEst) * INTERVAL_HOURS / 1000);\n        soc += d;\n        if (soc > 100) soc = 100;\n        if (soc < MIN_SOC_PCT) soc = MIN_SOC_PCT;\n        return soc;\n    }\n\n    let walkSoc = currentSoc;\n    let stretchStart = -1;\n    let stretchEntrySoc = 0;\n    const socPerCharge = kwhToSoc(maxChargeEnergy);\n\n    function closeStretch(endIdx) {\n        if (stretchStart < 0) return;\n        let alreadyChargedInStretch = 0;\n        const unplanned = [];\n        for (let j = stretchStart; j < endIdx; j++) {\n            if (schedule[j]._plan === 'charge') alreadyChargedInStretch++;\n            else if (!schedule[j]._plan) unplanned.push({ idx: j, ep: schedule[j].effectivePrice });\n        }\n        unplanned.sort((a, b) => a.ep - b.ep);\n        const totalK = Math.floor((100 - stretchEntrySoc) / socPerCharge + 0.001);\n        const K = Math.max(0, totalK - alreadyChargedInStretch);\n        const picked = unplanned.slice(0, K);\n        for (const p of picked) schedule[p.idx]._plan = 'charge';\n        // Re-walk stretch with actual plans applied\n        let s = stretchEntrySoc;\n        for (let j = stretchStart; j < endIdx; j++) s = applyDelta(schedule[j], s);\n        walkSoc = s;\n        node.warn(`Phase 3f: stretch [${stretchStart}..${endIdx}] entrySoc=${stretchEntrySoc.toFixed(1)}% totalK=${totalK} preplanned=${alreadyChargedInStretch} picked=${picked.length}/${unplanned.length}`);\n        stretchStart = -1;\n    }\n\n    for (let i = 0; i < schedule.length; i++) {\n        const s = schedule[i];\n        const profitCharge = isProfitChargeSlot(s);\n\n        if (profitCharge && stretchStart < 0) {\n            stretchStart = i;\n            stretchEntrySoc = walkSoc;\n        }\n\n        if (stretchStart >= 0 && profitCharge) {\n            // In stretch: defer SOC update to closeStretch\n            continue;\n        }\n\n        if (stretchStart >= 0 && !profitCharge) {\n            closeStretch(i);\n        }\n\n        walkSoc = applyDelta(s, walkSoc);\n    }\n    if (stretchStart >= 0) closeStretch(schedule.length);\n}\n\n// Overnight-survival guard: the per-slot forward-validate below only keeps\n// each feed-in slot's OWN SOC above MIN+5; it ignores the household load that\n// keeps draining AFTER the last feed-in. On a sunny-tomorrow plan Phase 3d\n// drains the evening peak down to ~MIN+5 (tomorrow's free PV is the assumed\n// replacement), then overnight compensate slides SOC to MIN and Phase 4 fires\n// emergency grid charges at ~retail effective price — buying back what was\n// just sold cheaper. User report 2026-05-21: 15 evening feed-in slots (15-23ct)\n// drained SOC to 10%, then 4 overnight grid charges at ~27ct effective.\n// Walk the WHOLE trajectory; while its trough breaches MIN+5, give back the\n// lowest-mp feed-in slot at/before the trough and re-walk. This drops only the\n// marginal feed-ins that force the rebuy and preserves the high-mp peaks that\n// tomorrow's PV genuinely refills.\n{\n    const SURVIVAL_FLOOR = MIN_SOC_PCT + 5;\n    function feedinTrough() {\n        let soc = currentSoc;\n        let minSoc = Infinity, minIdx = -1;\n        for (let i = 0; i < schedule.length; i++) {\n            const s = schedule[i];\n            if (s._plan === 'charge') {\n                soc += kwhToSoc(maxChargeEnergy);\n            } else if (s._plan === 'feedin_preemptive'\n                       || s._plan === 'feedin_surplus'\n                       || s._plan === 'feedin_capacity') {\n                soc -= feedinDrainSoc(s);\n            } else {\n                soc += kwhToSoc((s.pvPower - s.loadEst) * INTERVAL_HOURS / 1000);\n            }\n            if (soc > 100) soc = 100;\n            // Do NOT clamp at MIN here: we need the true trough depth to know\n            // how much feed-in to give back.\n            if (soc < minSoc) { minSoc = soc; minIdx = i; }\n        }\n        return { minSoc, minIdx };\n    }\n    let _demoted = 0;\n    let guard = 0;\n    while (guard++ < schedule.length) {\n        const { minSoc, minIdx } = feedinTrough();\n        if (minSoc >= SURVIVAL_FLOOR || minIdx < 0) break;\n        let demoteIdx = -1, demoteMp = Infinity;\n        for (let i = 0; i <= minIdx; i++) {\n            const s = schedule[i];\n            if ((s._plan === 'feedin_surplus'\n                 || s._plan === 'feedin_capacity'\n                 || s._plan === 'feedin_preemptive')\n                && s.marketPrice < demoteMp) {\n                demoteMp = s.marketPrice; demoteIdx = i;\n            }\n        }\n        if (demoteIdx < 0) break; // trough is structural (load-driven); Phase 4 will charge\n        schedule[demoteIdx]._plan = null;\n        _demoted++;\n    }\n    if (_demoted > 0) node.warn(`Overnight-survival guard: demoted ${_demoted} feed-in slot(s) to keep trough >= ${SURVIVAL_FLOOR}%`);\n}\n\n// Forward-validate: walk schedule in time order, demoting any feed-in that\n// would dip SOC below MIN+5 at its slot. Recompute _plannedSoc along the way.\n{\n    let walkSoc = currentSoc;\n    for (let i = 0; i < schedule.length; i++) {\n        const s = schedule[i];\n        const pvW = s.pvPower;\n        const loadW = s.loadEst;\n        if (s._plan === 'charge') {\n            walkSoc += kwhToSoc(maxChargeEnergy);\n        } else if (s._plan === 'feedin_preemptive'\n                   || s._plan === 'feedin_surplus'\n                   || s._plan === 'feedin_capacity') {\n            const drain = feedinDrainSoc(s);\n            if (walkSoc - drain < MIN_SOC_PCT + 5) {\n                // Local infeasibility — demote to compensate\n                s._plan = null;\n                walkSoc += kwhToSoc((pvW - loadW) * INTERVAL_HOURS / 1000);\n            } else {\n                walkSoc -= drain;\n            }\n        } else {\n            walkSoc += kwhToSoc((pvW - loadW) * INTERVAL_HOURS / 1000);\n        }\n        walkSoc = Math.max(MIN_SOC_PCT, Math.min(100, walkSoc));\n        s._plannedSoc = walkSoc;\n    }\n}\n\n// (Phase 3e removed: the legacy \"free capacity for upcoming PV\" loop iterated\n// per high-PV slot and greedily marked any unplanned earlier slot as feed-in,\n// which would drain SOC at LOW mid-day prices — exactly the wrong choice when\n// the evening peak is hours away. The Phase 3d budget already prioritises the\n// highest-priced slots within the rolling horizon, and Phase 4's runtime\n// \"Battery full + PV surplus\" branch (mp > 0) handles any actual full-battery\n// curtailment situation. Pre-planning capacity feed-in is no longer needed.)\n\n// (Phase 3f removed: the budget-based Phase 3d already guarantees end-of-schedule\n// SOC ≥ MIN_SOC + post-schedule overnight load + safety margin, so no further\n// revocation pass is needed.)\n\n// ================================================================\n// PHASE 4: Execute plan with accurate SOC tracking\n// ================================================================\nlet soc = currentSoc;\n\nfor (let i = 0; i < schedule.length; i++) {\n    const slot = schedule[i];\n    const t = slot.time;\n    const mp = slot.marketPrice;\n    const ep = slot.effectivePrice;\n    const pvW = slot.pvPower;\n    const loadW = slot.loadEst;\n    const plan = slot._plan;\n\n    let state, reason, setPoint;\n\n    // Hard guard: any feedin_* plan at mp < 0 → compensate instead (never pay grid)\n    if (plan && plan.startsWith('feedin') && mp < 0) {\n        state = 3; setPoint = -AVG_LOAD_W;\n        reason = `Skip feed-in at ${mp.toFixed(1)}ct (neg price), compensate instead`;\n    }\n    else if (plan === 'feedin_preemptive' && soc > targetSocForSunrise + 3) {\n        // Preemptive discharge for tomorrow's solar (only fires when mp >= 0 due to guard above)\n        if (soc > targetSocForSunrise + kwhToSoc(maxDischargeEnergy)) {\n            state = 4; setPoint = -MAX_DISCHARGE_W;\n            reason = `Pre-emptive discharge at ${mp.toFixed(1)}ct, target ${targetSocForSunrise.toFixed(0)}% for solar`;\n        } else {\n            state = 3; setPoint = -AVG_LOAD_W;\n            reason = `Pre-emptive compensate at ${mp.toFixed(1)}ct, near target ${targetSocForSunrise.toFixed(0)}%`;\n        }\n    }\n    else if (plan === 'charge') {\n        // Planned cheapest-slot charging. Skip when PV has already overfilled the\n        // battery past the planning cap: real SOC tracks above MAX_GRID_CHARGE_SOC_PCT\n        // while the planner's clamped sim assumed ~cap, so the pick would grid-charge an\n        // almost-full battery at a positive price. Profit charges (ep<0, paid to import)\n        // still fill.\n        if ((soc < MAX_GRID_CHARGE_SOC_PCT || ep < 0) && !(i === 0 && gridChargeBlocked)) {\n            state = 1; setPoint = MAX_CHARGE_W;\n            reason = `Planned charge at ${ep.toFixed(1)}ct (cheapest available)`;\n        } else if (i === 0 && gridChargeBlocked) {\n            state = 3; setPoint = -AVG_LOAD_W;\n            reason = !socTrust\n                ? `Skip planned charge — SOC reading untrusted, compensate`\n                : `Skip planned charge — pack ${maxPackSoc.toFixed(0)}% ≥ ${PACK_FULL_PCT}% (full), compensate`;\n        } else {\n            state = 3; setPoint = -AVG_LOAD_W;\n            reason = `Skip planned charge, SOC ${soc.toFixed(0)}% >= ${MAX_GRID_CHARGE_SOC_PCT}% cap (PV overfilled), compensate`;\n        }\n    }\n    else if ((plan === 'feedin_surplus' || plan === 'feedin_capacity' || plan === 'feedin_saturation')\n             && soc > MIN_SOC_PCT + kwhToSoc(maxDischargeEnergy) + 5) {\n        // Planned feed-in — already validated in Phase 3 with price-aware revocation\n        state = 4; setPoint = -MAX_DISCHARGE_W;\n        const tag = plan === 'feedin_capacity' ? 'free capacity for PV'\n                  : plan === 'feedin_saturation' ? 'saturation cluster best'\n                  : 'surplus energy';\n        reason = `Planned feed-in at ${mp.toFixed(1)}ct (${tag})`;\n    }\n    // (Profit-charge is now planned in Phase 3f as _plan='charge'; no runtime branch.)\n    // Strong PV surplus: let solar charge battery\n    else if (pvW - loadW > 1000 && soc < 95) {\n        state = 3; setPoint = -AVG_LOAD_W;\n        reason = `Strong PV surplus ${(pvW - loadW)}W, solar charges battery`;\n    }\n    // PV surplus + battery near full. Two firing conditions:\n    //   1. Imminent curtailment (soc ≥ 99): PV is being wasted, sell at any\n    //      mp > FEEDIN_MIN_MP_CT.\n    //   2. Round-trip profitable: mp > replacementPrice (drained SOC is\n    //      cheaper to replace at PV/morning-grid than the current sell mp).\n    // Otherwise hold (state=3): the cluster best-mp slot was either picked\n    // by Phase 3d's saturation pass (feedin_saturation plan) and will fire\n    // at its slot, or no slot in the cluster is economic — don't cycle the\n    // battery for a loss-making sale at the first soc≥95 slot.\n    else if (pvW - loadW > 500 && soc >= 95) {\n        if (soc >= 99 && mp > FEEDIN_MIN_MP_CT) {\n            state = 4; setPoint = -MAX_DISCHARGE_W;\n            reason = `Battery curtailing ${soc.toFixed(0)}%, feed-in at ${mp.toFixed(1)}ct`;\n        } else if (mp > replacementPrice && mp > FEEDIN_MIN_MP_CT) {\n            state = 4; setPoint = -MAX_DISCHARGE_W;\n            reason = `Battery full ${soc.toFixed(0)}%, profitable feed-in at ${mp.toFixed(1)}ct (replacement ${replacementPrice.toFixed(1)}ct)`;\n        } else {\n            state = 3; setPoint = -AVG_LOAD_W;\n            const repStr = isFinite(replacementPrice) ? replacementPrice.toFixed(1) + 'ct' : 'no-replace';\n            reason = `Battery full ${soc.toFixed(0)}%, hold (mp ${mp.toFixed(1)}ct ≤ replacement ${repStr})`;\n        }\n    }\n    // Default: compensate or charge based on future need\n    else {\n        // Look ahead: how much SOC do we need from battery for remaining slots + overnight?\n        let futureNeedKwh = 0;\n        for (let j = i + 1; j < schedule.length; j++) {\n            const net = (schedule[j].loadEst - schedule[j].pvPower) * INTERVAL_HOURS / 1000;\n            if (net > 0) futureNeedKwh += net;\n            if (schedule[j]._plan === 'charge') futureNeedKwh -= maxChargeEnergy;\n        }\n        futureNeedKwh += _postSchedLoadKwh;\n        const socNeeded = kwhToSoc(futureNeedKwh) + MIN_SOC_PCT + 5;\n\n        if (soc > socNeeded) {\n            state = 3; setPoint = -AVG_LOAD_W;\n            reason = `Compensate load, SOC ${soc.toFixed(0)}% > ${socNeeded.toFixed(0)}% needed`;\n        } else if (targetSocForSunrise !== null && !isDaylight(t)) {\n            // Preemptive active at night — never charge from grid, just compensate\n            state = 3; setPoint = -AVG_LOAD_W;\n            reason = `Compensate (no grid charge during preemptive), SOC ${soc.toFixed(0)}%`;\n        } else if (ep > 0) {\n            // Price is positive — just compensate, don't pay to charge\n            state = 3; setPoint = -AVG_LOAD_W;\n            reason = `Compensate (price ${ep.toFixed(1)}ct > 0, SOC ${soc.toFixed(0)}%)`;\n        } else if (i === 0 && gridChargeBlocked) {\n            state = 3; setPoint = -AVG_LOAD_W;\n            reason = !socTrust\n                ? `Compensate — SOC reading untrusted, no grid-charge (SOC ${soc.toFixed(0)}%)`\n                : `Compensate — pack ${maxPackSoc.toFixed(0)}% full, no grid-charge (SOC ${soc.toFixed(0)}%)`;\n        } else {\n            // Not enough SOC for future load and price <= 0 — charge now\n            state = 1; setPoint = MAX_CHARGE_W;\n            reason = `Charge at ${ep.toFixed(1)}ct, SOC ${soc.toFixed(0)}% < ${socNeeded.toFixed(0)}% needed`;\n        }\n    }\n\n    // === Update SOC prediction ===\n    let socDelta = 0;\n\n    if (state === 1) {\n        // Battery absorbs at most MAX_CHARGE_W total (grid + PV combined).\n        socDelta += kwhToSoc(maxChargeEnergy);\n    } else if (state === 3) {\n        // Compensate: PV covers load first, surplus charges battery, deficit drains battery\n        const netPvW = pvW - loadW;\n        socDelta += kwhToSoc(netPvW * INTERVAL_HOURS / 1000);\n    } else if (state === 4) {\n        // Max discharge: battery feeds grid at max rate + covers load, PV offsets some\n        const drainW = MAX_DISCHARGE_W + loadW - pvW;\n        socDelta -= kwhToSoc(Math.max(0, drainW) * INTERVAL_HOURS / 1000);\n    }\n\n    soc = Math.max(MIN_SOC_PCT, Math.min(100, soc + socDelta));\n\n    // Safety: if SOC hits minimum, override to charge\n    // But NEVER charge from grid during preemptive discharge (night before solar day)\n    if (soc <= MIN_SOC_PCT && state !== 1\n        && !(targetSocForSunrise !== null && pvW < loadW)) {\n        state = 1; setPoint = MAX_CHARGE_W;\n        reason = `SOC safety override - must charge`;\n        soc = MIN_SOC_PCT + kwhToSoc(maxChargeEnergy);\n    }\n\n    slot.state = state;\n    slot.predictedSoc = Math.round(soc * 10) / 10;\n    slot.reason = reason;\n    slot.acPowerSetPoint = setPoint;\n}\n\n// === Build output ===\nconst output = schedule.map(s => ({\n    t: s.time,\n    time: s.timeStr,\n    state: s.state,\n    acPowerSetPoint: s.acPowerSetPoint,\n    predictedSoc: s.predictedSoc,\n    marketPrice: s.marketPrice,\n    effectivePrice: Math.round(s.effectivePrice * 100) / 100,\n    pvPower: s.pvPower,\n    loadEst: s.loadEst,\n    reason: s.reason\n}));\n\n// Current action (first slot at or after now)\nconst currentSlot = output.find(s => new Date(s.time).getTime() >= now - 900000) || output[0];\n\n// Prepare messages\n// msg1: full schedule for debug\nmsg.payload = output;\nmsg.currentAction = currentSlot;\nmsg.summary = {\n    currentSoc: currentSoc,\n    currentLoad: currentLoad,\n    priceRange: `${minPrice.toFixed(1)} - ${maxPrice.toFixed(1)} ct/kWh`,\n    avgPrice: avgPrice.toFixed(1),\n    slotsPlanned: output.length,\n    currentState: currentSlot ? currentSlot.state : null,\n    currentReason: currentSlot ? currentSlot.reason : 'no data',\n    preemptiveDischarge: targetSocForSunrise !== null,\n    targetSocSunrise: targetSocForSunrise,\n    preemptiveSlots: preemptiveDischargeSlots.size\n};\n\n\n// msg3: current setpoint for ESS control\nvar weather7 = global.get(\"weather7days\", \"file\")\nconst msg3 = {\n    topic: 'mac/ess/cmd',\n    payload: {\n        state: currentSlot ? currentSlot.state : 3,\n        reason: currentSlot ? currentSlot.reason : 'no data',\n        val: currentSlot.marketPrice,\n        sun: weather7.sun7[0].value,\n        slots: output\n    }\n};\n\n// Persist current schedule into global.pp.prediction (file store) so other\n// flows/nodes can read the optimizer's output without subscribing to msgs.\nconst pp = global.get('pp', 'file') || {};\npp.prediction = output;\nglobal.set('pp', pp, 'file');\n\nreturn [msg, null, msg3];\n",
        "outputs": 3,
        "timeout": "30",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 640,
        "wires": [
            [
                "debug_schedule",
                "to_batteryplan_points"
            ],
            [],
            [
                "debug_action",
                "ess_output"
            ]
        ]
    },
    {
        "id": "debug_schedule",
        "type": "debug",
        "z": "flow_battery_v2",
        "name": "Full Schedule",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "summary.currentReason",
        "statusType": "msg",
        "x": 1200,
        "y": 580,
        "wires": []
    },
    {
        "id": "debug_action",
        "type": "debug",
        "z": "flow_battery_v2",
        "name": "Current Action",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload.reason",
        "statusType": "msg",
        "x": 1100,
        "y": 340,
        "wires": []
    },
    {
        "id": "ess_output",
        "type": "mqtt out",
        "z": "flow_battery_v2",
        "name": "ESS Command",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e36a332b.c61f3",
        "x": 1180,
        "y": 660,
        "wires": []
    },
    {
        "id": "comment_main",
        "type": "comment",
        "z": "flow_battery_v2",
        "name": "=== Battery Controller v2 - Main Flow ===",
        "info": "Runs every 15 minutes.\n1. Queries InfluxDB for SOC, prices, solar forecast, load\n2. Optimizes battery state for each price interval\n3. Writes plan to batterycontrol.plan\n4. Outputs current setpoint",
        "x": 230,
        "y": 40,
        "wires": []
    },
    {
        "id": "comment_test",
        "type": "comment",
        "z": "flow_battery_v2",
        "name": "=== Test Cases ===",
        "info": "Three test scenarios using historic/simulated data",
        "x": 150,
        "y": 520,
        "wires": []
    },
    {
        "id": "test1_inject",
        "type": "inject",
        "z": "flow_battery_v2",
        "name": "Test 1: Sunny day, neg prices",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "test1",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 580,
        "wires": [
            [
                "test1_setup"
            ]
        ]
    },
    {
        "id": "test1_setup",
        "type": "function",
        "z": "flow_battery_v2",
        "name": "Test 1: Sunny Apr 7 neg prices",
        "func": "// Test Case 1: Sunny spring day with negative midday prices\n// Based on April 7, 2026 forecast data\n// Scenario: SOC starts at 50%, sunny day with prices going negative\n\nconst baseTime = new Date('2026-04-07T04:00:00Z').getTime();\n\n// Simulated price data (from actual Apr 7 forecast)\nconst priceData = [\n    [4,0, 12.99],[4,15, 14.56],[4,30, 15.91],[4,45, 17.95],\n    [5,0, 17.68],[5,15, 17.33],[5,30, 14.64],[5,45, 11.67],\n    [6,0, 18.17],[6,15, 13.26],[6,30, 9.90],[6,45, 7.30],\n    [7,0, 11.94],[7,15, 7.49],[7,30, 6.19],[7,45, 2.85],\n    [8,0, 4.88],[8,15, 1.49],[8,30, 0.14],[8,45, 0.00],\n    [9,0, 0.11],[9,15, 0.00],[9,30, -0.01],[9,45, -0.10],\n    [10,0, -0.02],[10,15, -0.20],[10,30, -0.47],[10,45, -0.51],\n    [11,0, -0.54],[11,15, -0.81],[11,30, -1.16],[11,45, -1.22],\n    [12,0, -1.25],[12,15, -1.22],[12,30, -0.85],[12,45, -0.49],\n    [13,0, -0.50],[13,15, -0.39],[13,30, -0.02],[13,45, 0.00],\n    [14,0, 0.00],[14,15, 0.00],[14,30, 0.00],[14,45, 1.80],\n    [15,0, 1.24],[15,15, 7.51],[15,30, 11.06],[15,45, 14.29],\n    [16,0, 9.90],[16,15, 13.39],[16,30, 14.87],[16,45, 15.87],\n    [17,0, 13.41],[17,15, 15.38],[17,30, 18.32],[17,45, 19.68],\n    [18,0, 19.71],[18,15, 18.79],[18,30, 15.53],[18,45, 13.46],\n    [19,0, 17.67],[19,15, 14.61],[19,30, 13.85],[19,45, 12.29],\n    [20,0, 13.91],[20,15, 12.66],[20,30, 12.24],[20,45, 11.32],\n    [21,0, 12.22],[21,15, 11.62],[21,30, 11.17],[21,45, 10.69]\n];\n\n// Build influxdb node format (arrays of row objects)\nconst priceValues = priceData.map(p => {\n    const t = new Date('2026-04-07T00:00:00Z');\n    t.setUTCHours(p[0], p[1], 0, 0);\n    return { time: t.getTime(), marketprice: p[2] };\n});\n\nconst sunValues = [\n    { time: new Date('2026-04-07T05:00:00Z').getTime(), sunshineDurationInMinutes: 48 },\n    { time: new Date('2026-04-07T06:00:00Z').getTime(), sunshineDurationInMinutes: 49 },\n    { time: new Date('2026-04-07T07:00:00Z').getTime(), sunshineDurationInMinutes: 52 },\n    { time: new Date('2026-04-07T08:00:00Z').getTime(), sunshineDurationInMinutes: 54 },\n    { time: new Date('2026-04-07T09:00:00Z').getTime(), sunshineDurationInMinutes: 42 },\n    { time: new Date('2026-04-07T10:00:00Z').getTime(), sunshineDurationInMinutes: 34 },\n    { time: new Date('2026-04-07T11:00:00Z').getTime(), sunshineDurationInMinutes: 40 },\n    { time: new Date('2026-04-07T12:00:00Z').getTime(), sunshineDurationInMinutes: 49 },\n    { time: new Date('2026-04-07T13:00:00Z').getTime(), sunshineDurationInMinutes: 57 },\n    { time: new Date('2026-04-07T14:00:00Z').getTime(), sunshineDurationInMinutes: 58 },\n    { time: new Date('2026-04-07T15:00:00Z').getTime(), sunshineDurationInMinutes: 58 },\n    { time: new Date('2026-04-07T16:00:00Z').getTime(), sunshineDurationInMinutes: 58 },\n    { time: new Date('2026-04-07T17:00:00Z').getTime(), sunshineDurationInMinutes: 0 },\n    { time: new Date('2026-04-07T18:00:00Z').getTime(), sunshineDurationInMinutes: 0 }\n];\n\nmsg.payload = {\n    soc: [{ time: '2026-04-07T04:00:00Z', soc: 50 }],\n    acload: [{ time: '2026-04-07T04:00:00Z', acload: 500 }],\n    power: [{ time: '2026-04-07T04:00:00Z', power: -500 }],\n    prices: priceValues,\n    solar: sunValues,\n    load_history: [\n        { time: new Date('2026-04-07T00:00:00Z').getTime(), avg_load: 500 },\n        { time: new Date('2026-04-07T06:00:00Z').getTime(), avg_load: 600 },\n        { time: new Date('2026-04-07T10:00:00Z').getTime(), avg_load: 800 },\n        { time: new Date('2026-04-07T12:00:00Z').getTime(), avg_load: 750 },\n        { time: new Date('2026-04-07T18:00:00Z').getTime(), avg_load: 900 },\n        { time: new Date('2026-04-07T21:00:00Z').getTime(), avg_load: 700 }\n    ],\n    prev_plan: []\n};\n\nmsg.weather = {\n    sunSet: '2026-04-07T17:42:00.000Z',\n    sunRise: '2026-04-07T04:33:00.000Z',\n    temp: 16.3,\n    humidity: 42,\n    solarradiation: 501.6,\n    rainrate: 0\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 580,
        "wires": [
            [
                "optimizer"
            ]
        ]
    },
    {
        "id": "test2_inject",
        "type": "inject",
        "z": "flow_battery_v2",
        "name": "Test 2: Cloudy, high prices",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "test2",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 640,
        "wires": [
            [
                "test2_setup"
            ]
        ]
    },
    {
        "id": "test2_setup",
        "type": "function",
        "z": "flow_battery_v2",
        "name": "Test 2: Cloudy day, high prices",
        "func": "// Test Case 2: Cloudy winter-like day with consistently high prices\n// Scenario: SOC starts at 30%, minimal solar, prices 10-25 ct\n// Tests: smart charging at cheapest windows, conservation\n\nconst priceData = [\n    [0,0, 12.0],[0,15, 11.5],[0,30, 10.8],[0,45, 10.2],\n    [1,0, 9.8],[1,15, 9.5],[1,30, 9.2],[1,45, 9.0],\n    [2,0, 8.5],[2,15, 8.2],[2,30, 8.0],[2,45, 8.3],\n    [3,0, 8.8],[3,15, 9.5],[3,30, 10.2],[3,45, 11.5],\n    [4,0, 13.0],[4,15, 14.5],[4,30, 16.0],[4,45, 17.5],\n    [5,0, 18.0],[5,15, 19.5],[5,30, 20.0],[5,45, 21.0],\n    [6,0, 22.0],[6,15, 23.0],[6,30, 24.0],[6,45, 25.0],\n    [7,0, 24.5],[7,15, 23.0],[7,30, 22.0],[7,45, 21.0],\n    [8,0, 20.0],[8,15, 19.0],[8,30, 18.5],[8,45, 18.0],\n    [9,0, 17.0],[9,15, 16.5],[9,30, 16.0],[9,45, 15.5],\n    [10,0, 15.0],[10,15, 14.5],[10,30, 14.0],[10,45, 14.5],\n    [11,0, 15.0],[11,15, 15.5],[11,30, 16.0],[11,45, 16.5],\n    [12,0, 17.0],[12,15, 17.5],[12,30, 18.0],[12,45, 18.5],\n    [13,0, 18.0],[13,15, 17.0],[13,30, 16.0],[13,45, 15.0],\n    [14,0, 14.0],[14,15, 13.5],[14,30, 13.0],[14,45, 13.5],\n    [15,0, 14.0],[15,15, 15.0],[15,30, 16.0],[15,45, 17.0],\n    [16,0, 18.0],[16,15, 19.0],[16,30, 20.0],[16,45, 21.0],\n    [17,0, 22.0],[17,15, 23.0],[17,30, 24.0],[17,45, 25.0],\n    [18,0, 24.0],[18,15, 23.0],[18,30, 22.0],[18,45, 21.0],\n    [19,0, 20.0],[19,15, 19.0],[19,30, 18.0],[19,45, 17.0],\n    [20,0, 16.0],[20,15, 15.0],[20,30, 14.5],[20,45, 14.0],\n    [21,0, 13.5],[21,15, 13.0],[21,30, 12.5],[21,45, 12.0]\n];\n\nconst priceValues = priceData.map(p => {\n    const t = new Date('2026-01-15T00:00:00Z');\n    t.setUTCHours(p[0], p[1], 0, 0);\n    return { time: t.getTime(), marketprice: p[2] };\n});\n\nconst sunValues = [\n    { time: new Date('2026-01-15T08:00:00Z').getTime(), sunshineDurationInMinutes: 5 },\n    { time: new Date('2026-01-15T09:00:00Z').getTime(), sunshineDurationInMinutes: 8 },\n    { time: new Date('2026-01-15T10:00:00Z').getTime(), sunshineDurationInMinutes: 10 },\n    { time: new Date('2026-01-15T11:00:00Z').getTime(), sunshineDurationInMinutes: 8 },\n    { time: new Date('2026-01-15T12:00:00Z').getTime(), sunshineDurationInMinutes: 5 },\n    { time: new Date('2026-01-15T13:00:00Z').getTime(), sunshineDurationInMinutes: 3 },\n    { time: new Date('2026-01-15T14:00:00Z').getTime(), sunshineDurationInMinutes: 5 },\n    { time: new Date('2026-01-15T15:00:00Z').getTime(), sunshineDurationInMinutes: 0 },\n    { time: new Date('2026-01-15T16:00:00Z').getTime(), sunshineDurationInMinutes: 0 }\n];\n\nmsg.payload = {\n    soc: [{ time: '2026-01-15T00:00:00Z', soc: 30 }],\n    acload: [{ time: '2026-01-15T00:00:00Z', acload: 800 }],\n    power: [{ time: '2026-01-15T00:00:00Z', power: -700 }],\n    prices: priceValues,\n    solar: sunValues,\n    load_history: [\n        { time: new Date('2026-01-15T00:00:00Z').getTime(), avg_load: 600 },\n        { time: new Date('2026-01-15T06:00:00Z').getTime(), avg_load: 750 },\n        { time: new Date('2026-01-15T10:00:00Z').getTime(), avg_load: 900 },\n        { time: new Date('2026-01-15T18:00:00Z').getTime(), avg_load: 1000 },\n        { time: new Date('2026-01-15T22:00:00Z').getTime(), avg_load: 700 }\n    ],\n    prev_plan: []\n};\n\nmsg.weather = {\n    sunSet: '2026-01-15T15:40:00.000Z',\n    sunRise: '2026-01-15T07:15:00.000Z',\n    temp: 2.0,\n    humidity: 85,\n    solarradiation: 30,\n    rainrate: 0.5\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 640,
        "wires": [
            [
                "optimizer"
            ]
        ]
    },
    {
        "id": "test3_inject",
        "type": "inject",
        "z": "flow_battery_v2",
        "name": "Test 3: Evening low SOC",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "test3",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 700,
        "wires": [
            [
                "test3_setup"
            ]
        ]
    },
    {
        "id": "test3_setup",
        "type": "function",
        "z": "flow_battery_v2",
        "name": "Test 3: Evening, SOC=10%, mixed prices",
        "func": "// Test Case 3: Evening scenario with very low SOC\n// Scenario: SOC at 10%, evening prices mixed, sunrise in ~10 hours\n// Tests: emergency charging, price-smart charging, survival until solar\n\nconst priceData = [\n    [17,0, 20.0],[17,15, 22.0],[17,30, 24.0],[17,45, 25.0],\n    [18,0, 23.0],[18,15, 21.0],[18,30, 19.0],[18,45, 17.0],\n    [19,0, 16.0],[19,15, 15.0],[19,30, 14.0],[19,45, 13.0],\n    [20,0, 12.0],[20,15, 11.0],[20,30, 10.5],[20,45, 10.0],\n    [21,0, 9.5],[21,15, 9.0],[21,30, 8.5],[21,45, 8.0],\n    [22,0, 7.5],[22,15, 7.0],[22,30, 6.5],[22,45, 6.0],\n    [23,0, 5.5],[23,15, 5.0],[23,30, 4.5],[23,45, 4.0]\n];\n\n// Next day prices\nconst nextDayPrices = [\n    [0,0, 3.5],[0,15, 3.0],[0,30, 2.5],[0,45, 2.0],\n    [1,0, 1.5],[1,15, 1.0],[1,30, 0.8],[1,45, 0.5],\n    [2,0, 0.3],[2,15, 0.5],[2,30, 1.0],[2,45, 1.5],\n    [3,0, 2.0],[3,15, 3.0],[3,30, 4.0],[3,45, 5.0],\n    [4,0, 7.0],[4,15, 9.0],[4,30, 11.0],[4,45, 13.0],\n    [5,0, 14.0],[5,15, 13.0],[5,30, 11.0],[5,45, 9.0],\n    [6,0, 8.0],[6,15, 7.0],[6,30, 5.0],[6,45, 3.0],\n    [7,0, 2.0],[7,15, 1.0],[7,30, 0.0],[7,45, -0.5],\n    [8,0, -1.0],[8,15, -0.5],[8,30, 0.0],[8,45, 1.0]\n];\n\nconst allPrices = priceData.concat(nextDayPrices);\nconst priceValues = allPrices.map(p => {\n    const t = new Date(p[0] < 17 ? '2026-06-15T00:00:00Z' : '2026-06-14T00:00:00Z');\n    t.setUTCHours(p[0], p[1], 0, 0);\n    return { time: t.getTime(), marketprice: p[2] };\n});\n\nconst sunValues = [\n    { time: new Date('2026-06-15T05:00:00Z').getTime(), sunshineDurationInMinutes: 50 },\n    { time: new Date('2026-06-15T06:00:00Z').getTime(), sunshineDurationInMinutes: 55 },\n    { time: new Date('2026-06-15T07:00:00Z').getTime(), sunshineDurationInMinutes: 58 },\n    { time: new Date('2026-06-15T08:00:00Z').getTime(), sunshineDurationInMinutes: 60 }\n];\n\nmsg.payload = {\n    soc: [{ time: '2026-06-14T17:00:00Z', soc: 10 }],\n    acload: [{ time: '2026-06-14T17:00:00Z', acload: 900 }],\n    power: [{ time: '2026-06-14T17:00:00Z', power: -800 }],\n    prices: priceValues,\n    solar: sunValues,\n    load_history: [\n        { time: new Date('2026-06-14T17:00:00Z').getTime(), avg_load: 900 },\n        { time: new Date('2026-06-14T20:00:00Z').getTime(), avg_load: 800 },\n        { time: new Date('2026-06-14T23:00:00Z').getTime(), avg_load: 600 },\n        { time: new Date('2026-06-15T02:00:00Z').getTime(), avg_load: 400 },\n        { time: new Date('2026-06-15T06:00:00Z').getTime(), avg_load: 600 }\n    ],\n    prev_plan: []\n};\n\nmsg.weather = {\n    sunSet: '2026-06-14T19:30:00.000Z',\n    sunRise: '2026-06-15T03:20:00.000Z',\n    temp: 22.0,\n    humidity: 55,\n    solarradiation: 0,\n    rainrate: 0\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 700,
        "wires": [
            [
                "optimizer"
            ]
        ]
    },
    {
        "id": "inject_prices",
        "type": "inject",
        "z": "flow_battery_v2",
        "name": "Price fetch (13:05 + retry)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/10 13 * * *",
        "once": true,
        "onceDelay": "10",
        "topic": "fetch_prices",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 480,
        "wires": [
            [
                "check_price_cache"
            ]
        ]
    },
    {
        "id": "check_price_cache",
        "type": "function",
        "z": "flow_battery_v2",
        "name": "Need fresh prices?",
        "func": "const cached = flow.get(\"cachedPrices\") || {};\nconst today = new Date().toISOString().slice(0, 10);\n// If we have today's prices with tomorrow included, skip fetch\nif (cached.date === today && cached.hasTomorrow) {\n    node.status({ fill: \"green\", shape: \"ring\", text: \"Cached, skip fetch\" });\n    return null; // stop — no need to re-fetch\n}\nnode.status({ fill: \"yellow\", shape: \"dot\", text: \"Fetching prices...\" });\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 520,
        "wires": [
            [
                "query_prices"
            ]
        ]
    },
    {
        "id": "retry_price_fetch",
        "type": "function",
        "z": "flow_battery_v2",
        "name": "Retry if no tomorrow",
        "func": "const cached = flow.get(\"cachedPrices\") || {};\nif (!cached.hasTomorrow) {\n    // Schedule retry in 15 min via delay\n    node.status({ fill: \"yellow\", shape: \"dot\", text: \"No tomorrow prices, retry in 15m\" });\n    return msg;\n}\nnode.status({ fill: \"green\", shape: \"dot\", text: \"Tomorrow prices OK\" });\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 480,
        "wires": [
            [
                "retry_delay"
            ]
        ]
    },
    {
        "id": "retry_delay",
        "type": "delay",
        "z": "flow_battery_v2",
        "name": "Wait 15 min",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 870,
        "y": 440,
        "wires": [
            [
                "check_price_cache"
            ]
        ]
    },
    {
        "id": "read_cached_prices",
        "type": "function",
        "z": "flow_battery_v2",
        "name": "Read cached prices",
        "func": "const cached = flow.get(\"cachedPrices\") || {};\nmsg.topic = \"prices\";\nmsg.payload = cached.prices || [];\nif (msg.payload.length === 0) {\n    node.warn(\"No cached prices available\");\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 80,
        "wires": [
            [
                "join_results"
            ]
        ]
    },
    {
        "id": "query_pv_now",
        "type": "influxdb in",
        "z": "flow_battery_v2",
        "influxdb": "influxdb_config_infra",
        "name": "PV Now",
        "query": "SELECT LAST(PAC) AS pv_now FROM pv WHERE time > now() - 30m",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "",
        "x": 400,
        "y": 400,
        "wires": [
            [
                "set_topic_pv_now"
            ]
        ]
    },
    {
        "id": "set_topic_pv_now",
        "type": "change",
        "z": "flow_battery_v2",
        "name": "topic: pv_now",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pv_now",
                "tot": "str"
            }
        ],
        "x": 620,
        "y": 340,
        "wires": [
            [
                "join_results"
            ]
        ]
    },
    {
        "id": "query_pv_hist_recent",
        "type": "influxdb in",
        "z": "flow_battery_v2",
        "influxdb": "influxdb_config_infra_2y",
        "name": "PV Hist recent",
        "query": "SELECT mean(mean_PAC) AS avg_pv, max(mean_PAC) AS max_pv FROM pv WHERE time > now() - 15d GROUP BY time(1h) ORDER BY time ASC",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "",
        "x": 400,
        "y": 320,
        "wires": [
            [
                "join_pv_history"
            ]
        ]
    },
    {
        "id": "query_pv_hist_1y",
        "type": "influxdb in",
        "z": "flow_battery_v2",
        "influxdb": "influxdb_config_infra_2y",
        "name": "PV Hist 1y ago",
        "query": "SELECT mean(mean_PAC) AS avg_pv, max(mean_PAC) AS max_pv FROM pv WHERE time > now() - 380d AND time < now() - 350d GROUP BY time(1h) ORDER BY time ASC",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "",
        "x": 400,
        "y": 360,
        "wires": [
            [
                "join_pv_history"
            ]
        ]
    },
    {
        "id": "query_pv_hist_2y",
        "type": "influxdb in",
        "z": "flow_battery_v2",
        "influxdb": "influxdb_config_infra_2y",
        "name": "PV Hist 2y ago",
        "query": "SELECT mean(mean_PAC) AS avg_pv, max(mean_PAC) AS max_pv FROM pv WHERE time > now() - 745d AND time < now() - 715d GROUP BY time(1h) ORDER BY time ASC",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "",
        "x": 400,
        "y": 440,
        "wires": [
            [
                "join_pv_history"
            ]
        ]
    },
    {
        "id": "join_pv_history",
        "type": "join",
        "z": "flow_battery_v2",
        "name": "Join 3 PV",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "",
        "joiner": "",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "10",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 610,
        "y": 280,
        "wires": [
            [
                "merge_pv_history"
            ]
        ]
    },
    {
        "id": "merge_pv_history",
        "type": "function",
        "z": "flow_battery_v2",
        "name": "Merge & topic: pv_history",
        "func": "// Flatten the 3 query results into one array\nconst merged = [];\nfor (const arr of msg.payload) {\n    if (Array.isArray(arr)) {\n        for (const row of arr) merged.push(row);\n    }\n}\nmsg.payload = merged;\nmsg.topic = 'pv_history';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 280,
        "wires": [
            [
                "join_results"
            ]
        ]
    },
    {
        "id": "491dfd601a89cda1",
        "type": "cronplus",
        "z": "flow_battery_v2",
        "name": "",
        "outputField": "payload",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "schedule1",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 0/15 * * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 120,
        "y": 120,
        "wires": [
            [
                "query_soc",
                "query_acload",
                "query_power",
                "query_solar",
                "query_load_history",
                "query_pv_hist_recent",
                "query_pv_hist_1y",
                "query_pv_hist_2y",
                "read_cached_prices",
                "query_pv_now"
            ]
        ]
    },
    {
        "id": "comment_changelog",
        "type": "comment",
        "z": "flow_battery_v2",
        "name": "=== Changelog ===",
        "info": "**2026-06-28** - BMS-aware SOC guard. The optimizer now trusts the capacity-weighted BMS SOC (`global.bms`, published by the checkbattery `capture` node and surfaced via the \"SOC from global\" node) instead of the Victron aggregate (`global.ess.Soc`), which read 71.5% while the packs were really ~84% and grid-charged an almost-full battery after 16:00 at the full 13ct fee. Two safety nets in the optimizer: (1) range + physically-impossible-jump rejection (Δ beyond ~15%/h ⇒ socTrust=false); (2) per-pack full-stop — never grid-charge the LIVE slot if ANY single pack ≥ PACK_FULL_PCT (97%), since unequal parallel packs (bat_ost/bat_west 135Ah, bat_big 310Ah, differing SOH) fill at different rates and the small pack tops out first. Falls back to `global.ess.Soc` when BMS data is stale/absent. Both guards gate state=1 at i===0 only; future slots re-evaluate next tick.\n\n**2026-06-25** - Phase 3b-arb (arbitrage grid-charge). On exceptional-delta days, grid-charge cheap slots SPECIFICALLY to resell at a high feed-in peak that lies before the next free PV refill — deliberately opening the grid→feed-in path the other phases block. Gated by a NET round-trip hurdle so it stays dormant on normal days: peakMp*ARB_RT_EFF − chargeEff − ARB_CYCLE_WEAR_CT ≥ ARB_MIN_NET_CT. Constants: ARB_MIN_NET_CT=16 (ct net/kWh), ARB_RT_EFF=0.9 (~10% round-trip loss), ARB_CYCLE_WEAR_CT=1.5, ARB_CHARGE_SOC_PCT=100 (arbitrage may fill to 100%, vs the normal 90% Phase 3c cap). Runs after preemptive, before Phase 3c; picks tagged _plan='charge' so existing SOC sims / state=1 emit / Phase 3d feed-in budget + round-trip checks resell the surplus at the peak automatically. Horizon-bounded to the next free PV refill (intraday round-trip only; cross-day bets left to the next cycle). User: charge from grid to feed in more energy and make profit when the intraday delta is exceptional.\n\n**2026-06-17** - Cross-day feed-in hold (opportunity-cost floor). User flagged heavy feed-in today at ≤17ct while tomorrow's 46ct peak was skipped. Cause: Phase 3d feed-in only sees slots within the horizon and the round-trip check only guards grid REBUY cost; a single cheap PV slot tomorrow flips freeRefillAhead, draining the battery (86%→27%) on the false assumption PV refills it — but a cloudy tomorrow only reached ~45%, missing the peak. Fix: when in-schedule PV won't curtail (pvWillCurtail=false) and a materially higher stored-energy feed-in peak lies beyond the horizon, block tonight feed-in below (futurePeak − CROSSDAY_HOLD_SLACK_CT=3ct) so SOC is held for the better peak (captured next cycle as the horizon advances). Floor is not overflow-exempt here (any 'overflow' budget is post-schedule speculation). No-op when a real solar glut curtails before the peak. New regression Scenario 10.\n\n**2026-06-11** - No grid-charge when battery already near-full. User flagged grid charges at ~6ct firing at 93-95% SOC on a sunny day (pre-loading a forecast-dark tomorrow). Cause: Phase 3c marks cheapest slots _plan='charge' using a SOC sim clamped at MAX_GRID_CHARGE_SOC_PCT (90%), but Phase 4 fired state=1 there unconditionally even when real PV had overshot the cap. Fix: runtime now skips a planned charge when soc >= 90% (compensate instead); profit charges (ep<0, paid to import) still fill.\n\n**2026-06-08** - No discharge-today / charge-tomorrow round-trip. User flagged: on a sunny-today / no-sun-tomorrow boundary the plan fed stored solar to grid at tonight's evening peak (17:30-18:30, PV=0, mp ~18-19ct) draining ~14% SOC, then grid-charged tomorrow midday (mp ~2-7ct -> ~15-20ct effective with the 13ct fee) on the dark day - selling stored energy and rebuying it at retail (net loss after ~10% inverter round-trip + cycle wear). Cause: Phase 3d's `isOverflowOnly` curtailment exemption sized the free-energy budget from today's midday PV clipping but allocated it market-price-DESC, spending it on the evening peak instead of the midday slots where clipping physically occurs; the exemption then bypassed the round-trip check (mp 19.4 < replacement 16.3 + 5ct margin). Two compounding holes: (a) the curtailment ('overflow') exemption was sized from today's midday PV clipping but allocated market-price-DESC, so it exempted the evening peak (PV=0); (b) the round-trip check's replacement price used minReplacementEffPrice = the single globally-cheapest refill slot (tomorrow's 10:30 midday slot at mp 2.34 + summer-discounted 10.4ct fee = 12.74ct effective), letting tonight's 18ct feed-in pass although the real rebuy cost was the MARGINAL grid-charge slot (~22ct). Fix (a): an early (pre-grid-charge) slot is overflow-exempt only when it is itself a real PV-surplus slot (`s.pvPower > s.loadEst`). Fix (b): early-slot replacement price = max(minReplacementEffPrice, max effective among planned 'charge' slots) — the marginal refill cost. Both needed: (a) drops the evening slots to the round-trip check, (b) makes that check reject them (mp 18-19 < 22 + 5 margin). Late slots keep the next-day-PV-refill exemption (isLate); days with no planned grid-charge are unchanged (_marginalChargeEff = -Inf). Midday clipping still feeds in (free energy); evening stored-energy drains on dark-tomorrow days are blocked, holding SOC to shrink tomorrow's retail grid-charge.\n\n**2026-05-22b** - Overnight-bridge reserve when multi-day reserve is deferred. User: pre-publish plan ended the night at ~11% SOC. Cause: before tomorrow's prices publish (~13:00 Berlin) the schedule horizon ends ~23:45 local and the multi-day post-schedule reserve is deferred (it would be a blind day-after bet), so _postSchedLoadKwh=0 and the end-of-schedule floor collapsed to MIN+8 (~13%). Phase 3d evening feed-in then drained to that floor, selling the marginal ~14ct late-evening tail and emptying the battery with ~5.5h of darkness still ahead -> morning rebuy risk. Fix: in the deferred branch, still reserve the OVERNIGHT BRIDGE - a known, non-blind quantity. Walk hour-by-hour from schedule-end to the next sunrise summing load (PV~=0 overnight) and hold it as the floor. Live effect: end-of-night SOC 11%->19%, the 14ct tail feed-ins (21:30/21:45) demoted to compensate, all 20-22ct peaks retained. Only the deferred (pre-publish) path is affected; the post-publish multi-day reserve walk is unchanged. No morning-charge regression (Phase 3c still skips all slots during preemptive).\n\n**2026-05-22** - No grid-charge on glut mornings (preemptive days). User: battery grid-charged 2x this morning (03:00 + 05:15 UTC, ~26ct effective) right before a 749 sun-min day. Preemptive was active (target 30%, 11 neg slots) and correctly drained the evening, but overnight SOC dipped below MIN+5 and Phase 3c grid-charged to defend the floor. The night-charge skip gated on (!isDaylight && pvPower<200): isDaylight flips at civil sunrise (~05:00 local, hours before PV ramps), so pre-PV slots slipped through; tightening the gate to pvPower<load just moved the charge to the next eligible slot. Final fix: during preemptive, Phase 3c plans NO grid charge at all (midday PV refills for free), and the Phase 4 safety override is suppressed while pvPower<load - so SOC coasts to ~MIN and the household draws grid directly instead of round-trip-charging the battery. Verified via offline harness replaying today's real data at a mocked 01:00 clock: pre-fix 2 charges -> post-fix 0, min SOC 5.9% then PV recovers. Negative-price profit charging is unaffected (Phase 3f, not 3c).\n\n**2026-05-21** - Overnight-survival guard on feed-in. Phase 3d on a sunny-tomorrow day (749 sun-min, 11 neg-price slots) drained the evening peak to ~MIN+5 because tomorrow free PV was the assumed round-trip replacement (pvOpportunityPrice ~5.7ct). The forward-validate only checked each feed-in slot own SOC against MIN+5, ignoring the overnight household load that keeps draining after the last feed-in - so SOC slid 10%->5% overnight and Phase 4 fired 4 emergency grid charges at ~27ct effective, buying back what was sold at 15-23ct. New guard walks the whole SOC trajectory and, while the trough is below MIN+5, demotes the lowest-mp feed-in slot at/before the trough and re-walks. Drops the marginal 15-16ct feed-ins that force the rebuy; keeps the 22-23ct peaks that PV genuinely refills. Structural (load-only) troughs leave Phase 4 to charge as needed.\n\n**2026-05-20 (b)** — Phase 3c grid-charge now prefers slots at/after the ~13:00 Berlin price publish. Even after the reserve-defer fix above, one floor-protection charge still landed at 10:30 (cheapest slot, eff 10.70ct) because the battery dips to the 10% floor by tomorrow midnight. Charging before 13:00 is a blind bet on next-day prices that haven't published; afternoon slots are only marginally pricier (~13:45 eff 10.91ct, +0.2ct). Eligible-slot sort now orders post-13:00 first, pre-13:00 as fallback so a genuine morning deficit is still covered. Net: grid charging shifts to the afternoon once prices are known.\n\n**2026-05-20** — Multi-day reserve guard: `pricesCoverTomorrow` threshold 25h→30h (optimizer). An evening run (~20:45 Berlin) saw prices ~27h out — past the 25h cutoff — so the post-horizon reserve fired and committed ~8 kWh of ~11ct effective grid-charge into tomorrow-morning slots (e.g. 10:30 @ 0.30ct market / 10.7ct effective) before the day-after prices had even published. Those prices only cover *tomorrow*, not the day-after the reserve bets on. 30h defers the reserve until prices extend into the day-after (true only after the next ~13:00 publish); tomorrow's post-13:00 prices are still cheap, so waiting costs nothing. Phase 3d feed-in guard (`_lastSchedTime`, 25h) left unchanged.\n\n**2026-05-19 (later 5)** — FEEDIN_ROUNDTRIP_MARGIN_CT 10→5. User asked to capture today's 17:45 (mp 22.39 ct) feed-in. The early pass (post the position-guard fix) uses strict `minReplaceEff` = 16.90 ct (tomorrow's 11:15 UTC slot, mp 6.50 + 10.4 reduced fee). With margin 10 the check is 22.39 > 26.90 → blocked. Lowering to 5 makes the check 22.39 > 21.90 → passes by 0.49 ct. Real round-trip: revenue 22.39 ct minus 18.59 ct refill cost (1.10 kWh at 16.90 to put 1 kWh in battery after 10% inverter loss) minus ~1.5 ct cycle wear = ~2.3 ct/kWh net profit. Margin 10 was set on 2026-05-19 (later 2) to compensate for pvOpportunityPrice ~11 ct being applied globally — now that the early pass uses strict minReplaceEff (2026-05-19 later 4), margin 5 is the right calibration. Also pulls in 4-5 additional tomorrow-evening slots (late pass uses replacementPriceLate = pvOpp 11.23; threshold 16.23 → picks 16.95-18.75 ct range).\n\nFollow-up same run: merged the two-pass loop into a single-pass with `continue` on round-trip failure. The two-pass order (late first) was exhausting feedinBudgetSoc on lower-mp tomorrow-evening slots before today's higher-mp 22.39 ct could be picked. Single-pass with mp DESC + per-slot replacement (early uses strict minReplaceEff, late uses replacementPriceLate) gives globally optimal ordering: today's 22.39 wins first, then tomorrow-evening fills the rest of the budget. `continue` (not `break`) is correct because per-slot check differs by idx — a high-mp early slot failing its strict check shouldn't block a lower-mp late slot from passing its looser check.\n\n**2026-05-19 (later 4)** — Reserve walk nets PV surplus (option 2 of post-sched-PV question). Continuing the prior fix: after enabling tomorrow-evening feed-in via post-schedule pvWillCurtail (2026-05-19 later 3), Phase 3c bumped from 17→18 noon grid charges and SOC peaked at 100% before Phase 3d drained it back to 58% — a partial round-trip that lost ~€0.05/day to inverter+cycle overhead. Root cause: the reserve walk's `Math.max(0, load-pv)` accumulated deficit-only and never discounted the 22nd's 694 sun-min PV surplus against the 21st's deficit. `_postSchedLoadKwh` pinned near the 21 kWh cap, forcing endFloorSoc=79% and triggering excessive Phase 3c picks. Replaced with a running net walk (peak cumulative `(load-pv)` floored at 0) — net surplus on the 22nd subtracts from prior accumulated deficit, so _postSchedLoadKwh reflects actual reserve needed rather than worst-case deficit-only accounting. Floor at 0 preserves the safety invariant: we can't pre-charge from future PV.\n\nAdditionally: tightened Phase 3d's early-pass replacement to strict `minReplacementEffPrice` (no pvOpportunityPrice bypass). The global pvWillCurtail flag was true during this same run because today afternoon's PV-only walk overflowed to 100% — that made the early pass pick today's 17:45 (mp 22.39) since replacement dropped to pvOpp ~10 ct. But today's evening drain is replaced by tomorrow's planned grid charges, not by past PV curtailment. pvOpp stays available for the late pass (post-grid-charge slots), where it's economically correct (post-schedule PV is the actual replacement). See [[feedback_roundtrip_feedin]].\n\n**2026-05-19 (later 3)** — Phase 3d: post-schedule PV overflow walk + position-guarded two-pass selection. User flagged: schedule ends tomorrow night at SOC 85-86% on a bad-PV day (74 sun-min), but day-after-tomorrow is 694 sun-min — feeding in at tomorrow's evening peak (mp 16-18.75 ct) makes sense because the 22nd's PV will refill what we drain. The in-horizon `pvOnlyOverflow` walk ends at schedule end (~23:45 tomorrow), so it never sees the 22nd refill — `pvWillCurtail=false` and the round-trip check uses `minReplacementEffPrice=18.69 ct` (margin 10 → need mp > 28.7), blocking every tomorrow-evening slot. Added a 48h post-schedule PV-only SOC walk that accumulates `postSchedPvOverflow` when projected SOC exceeds 99% on the 21st/22nd. To avoid re-enabling today's feed-in (which would be replaced by tomorrow's planned grid-charges, not by post-sched PV), gated the extension behind a position guard: slots after `lastPlannedChargeIdx` use `replacementPriceLate` (=pvOpportunityPrice when postSchedPvWillCurtail) and `eligibleOverflowLate` (pvOnlyOverflow + postSchedPvOverflow); earlier slots keep the strict in-horizon `replacementPrice` and `pvOnlyOverflow`. Implemented as a two-pass loop to preserve the existing 'break on first round-trip fail' semantics within each pass. See [[feedback_roundtrip_feedin]] and [[feedback_multiday_reserve]].\n\n**2026-05-19 (later 2)** — FEEDIN_ROUNDTRIP_MARGIN_CT 5→10. After restoring the multi-day reserve walk (f37e741) the schedule still planned 2 evening feed-in slots today (17:45/18:00 UTC, mp 22.39/20.90 ct) while Phase 3c separately planned 4 grid-charge slots tomorrow noon (mp 3.05–3.89 ct ≈ 14–16 ct effective). The cheapest unplanned PV-deficit slot was ~14.9 ct effective, so the round-trip check `22.39 > 14.9 + 5 = 19.9` passed by ~2.5 ct — thinner than the real ~4 ct/kWh round-trip overhead (10% inverter loss + cycle wear). User: \"discharging around 17:00 makes no sense — you have to charge tomorrow too much.\" Raising the margin to 10 ct demands a clearly positive trade: today's 17:45 (22.39 vs 14.9 + 10 = 24.9) and 18:00 (20.90 vs 24.9) both should break — but they didn't. Debug trace revealed `pvOnlyOverflow=0.6%` was enough to flip `pvWillCurtail` to true, dropping replacement to `pvOpportunityPrice=11.23ct` so `22.39 > 11.23 + 10 = 21.23` still passed. Fix: tightened `pvWillCurtail` to require ≥ 5 % SOC (~1.5 kWh) of PV-only overflow before the PV-opportunity replacement applies. On the bad-PV day both feed-in slots now break against the real grid-refill cost (~18.69 ct effective). See [[feedback_roundtrip_feedin]].\n\n**2026-05-19 (later)** — Restored optimizer from silent live-flow regression. Live flow had reverted to the pre-f852733 reserve walk: `RESERVE_HOURS=14`, `MAX_RESERVE_KWH=6`, no `pricesCoverTomorrow` deferral. Effect: today's predicted schedule planned 8 feed-in slots (mp 9.71–22.39 ct) draining SOC 96→63% by midnight, then a state-1 grid charge at 21:45 UTC tomorrow (mp 13.29 ct → ~26ct effective) once SOC slid to 6%. Tomorrow's 7-day sunshine forecast is 74 sun-min (vs. 700+ on good days), so the calibrated 48h/21kWh walk would have surfaced the multi-day hole and blocked these feed-in picks. PUT live optimizer.func back to the committed f852733 body (no code-level change to battery_controller_v2.json beyond this changelog entry). Same regression class as the 53d3807 → dca6560 cycle on 2026-05-18 (see entry above) and the [[feedback_multiday_reserve]] memory.\n\n**2026-05-19** — Phase 3c: defer multi-day reserve until tomorrow's prices publish. Added a `pricesCoverTomorrow` check (lastSchedTime − now > 25h) around the existing post-horizon reserve walk; when prices don't yet cover tomorrow, `_postSchedLoadKwh` stays 0 and Phase 3c's endTarget drops to MIN_SOC+5 (10%). In-horizon deficit picks still fire normally. User report tonight (01:00 Berlin): with reserve active, planner picked 25 mid-day grid-charge slots at ~18ct effective to hit endTarget 80% — a blind bet on tomorrow's prices that weren't loaded yet. After fix on the same run: `Phase 3c: picks=0 endTarget=10.0% endTraj=25.8% peakTraj=69.4% [reserve deferred: pre-publish]`. Once EPEX publishes (~13:00 Berlin) and the horizon extends past 25h, the reserve re-engages and the planner picks cheapest across the full 36h — naturally choosing today's vs. tomorrow's slots without a separate post-horizon walk needed. Reverts dca6560's aggressive overnight grid-charging while preserving the multi-day calibration for runs that do see tomorrow's prices.\n\n**2026-05-18** — Restored multi-day reserve calibration. RESERVE_HOURS 14→48, MAX_RESERVE_KWH 6→21 (~70% SOC cap on 30 kWh). Accidentally reverted in 53d3807 (2026-05-10 Phase 3d pvOnlyOverflow gating) — the commit message did not mention this change and the regressed values were the original initial-commit defaults. User flagged: tonight at SOC 82% the optimizer planned a 16ct feed-in tomorrow morning + drain to 14% by end of day, while 7d forecast shows weak PV both tomorrow (177 min sunshine total) and day-after (59 min) — a guaranteed sell-low/buy-high. The 48h/21kWh calibration was originally chosen exactly to surface this multi-day PV-desert pattern (see 2026-05-09 entry).\n\n**2026-05-14** — Phase 3d round-trip margin. Added FEEDIN_ROUNDTRIP_MARGIN_CT = 5: non-overflow feed-in candidates now require `s.marketPrice > replacementPrice + 5` instead of just `> replacementPrice`. The bare mp-vs-effectivePrice comparison ignored inverter round-trip losses (~10%) and battery cycle wear, so a sub-5ct spread booked as profit was actually a net loss — live example: planned feed-in tonight 20:30/21:00 at mp 17.9ct against tomorrow's grid-recharge effective ~14.7ct on a zero-PV day. With the 5ct margin the threshold becomes ~19.7ct and both slots are correctly demoted to compensate.\n\n**2026-05-13** — Restored Phase 3d blind-window guard (regression from 2c34724 \"Per-day PV baseline + closest-K historical matching\" on 2026-05-12, which silently dropped the `blindToTomorrow` term added in c63103a one day earlier). Re-adds `pricesCoverTomorrow` (=`lastSchedTime - now > 25h`), tail-sampled `_tomorrowPvRatioP3d`, and `blindToTomorrow = !pricesCoverTomorrow && ratio < 0.60`; restores `(blindToTomorrow || s.marketPrice <= replacementPrice) → break` in the candidate loop. Without the guard, Phase 3d uses today's cheap PV-opportunity replacement price even when tomorrow's prices haven't published and tomorrow's PV forecast is 0 — exactly the scenario user flagged: morning feed-in at 14–15 ct mp followed by next-day grid charge at retail with no PV refill. Test 8/9 (same scenario 3 contrived 8h-horizon failure as c63103a; production runs are unaffected).\n\n**2026-05-12** — Per-day PV baseline + closest-K historical matching. Old code computed a single `midDaySunRatio` from the 7-day MAX of `sunshineDurationInMinutes`, so every day in the horizon shared one baseline calibrated to the brightest hour anywhere in the window — sunny days underestimated, cloudy days got noise. Replaced with `getDayBaseline(t)`: per-day sunRatio (from forecast), per-day historical matching via top-K (K=5) closest-peak days. `refRatio` now reflects the matched set's actual peak rather than the slot's target ratio, so per-slot scaling anchors correctly. Live: tomorrow's forecast (40 min/h peak, 434 min total) was 14.4 kWh in the schedule vs. 20.8 kWh weather7days; today's overcast day was sharing the same baseline as tomorrow. Regression 9/9 pass.\n\n**2026-05-11** — Phase 3d blind-window guard: block non-overflow feed-in when tomorrow's prices aren't loaded yet (lastSchedTime - now ≤ 25h) AND tomorrow's PV forecast ratio < 0.60. Closes recurring sell-low/buy-high loss (morning sell @ 13–15ct → next-day grid-charge @ ~15.5ct effective). Overflow exemption preserved.\n\n### 2026-05-10 (Phase 3c: cap grid-charge SOC at 90%)\n- User: midday charge cluster fills battery to 99.5% from grid. Two\n  problems: (a) the 3 most-expensive picks land at 09:45/10:15/10:45\n  UTC (11:45/12:15/12:45 Berlin) — BEFORE 13:00 Berlin when the next\n  day's prices publish, so we commit to charging without knowing if\n  tomorrow's slots will be cheaper; (b) routinely cycling to 100%\n  via grid increases wear.\n- Fix: introduced `MAX_GRID_CHARGE_SOC_PCT = 90`. Phase 3c's\n  `simulateSocTrajectory` clamps at 90 instead of 100. Once the\n  projection hits the cap, additional charge picks raise traj[d] by\n  0 → the \"pick raised SOC?\" gate fails → Phase 3c stops adding\n  slots. Cheapest-first ordering means the dropped slots are the\n  most expensive (the pre-13:00 morning ones here). PV-driven fill\n  above 90 is still allowed at runtime — only the PLANNER refuses\n  to schedule grid slots past the cap, so PV-glut days aren't\n  curtailed.\n- End-of-horizon SOC: ~70-75% (down from ~82%) — closer to the\n  raw reserve target (~80%) but below it; trade-off accepted for\n  reduced wear and the pre-13:00 avoidance.\n- Regression 9/9 pass.\n\n### 2026-05-10 (Phase 3d: pvOnlyOverflow gates pvWillCurtail + isOverflowOnly)\n- User report: tomorrow's plan feeds in at 15.75/16ct in the morning\n  (05:30 & 06:00 UTC) then grid-charges 16 slots midday at mp 10–12ct.\n  Round-trip = sell 15.75ct, refill at 22ct effective (mp + 10.4ct\n  discount fee) → ~6ct/kWh loss. Weak-PV day (peak 657W); no actual\n  PV curtailment possible.\n- Root cause: Phase 3d's `pvWillCurtail` flag AND its `isOverflowOnly`\n  shortcut both read from `overflowSoc`/`postHorizonOverflow`, which\n  are computed by a projection that adds `_plan='charge'` slots. On\n  weak-PV days Phase 3c plans aggressive midday grid charging that\n  pushes projSoc past 99, so the optimizer thinks PV will curtail and\n  treats the first feed-in pick as \"free overflow\" — bypassing the\n  round-trip check.\n- Fix: compute a separate `pvOnlyOverflow` from a PV–load-only walk\n  (no charge/feed-in plans). Use it for BOTH `pvWillCurtail` and the\n  `isOverflowOnly` shortcut in the candidate loop. The first pick now\n  has to satisfy `mp > replacementPrice` like every other pick.\n\n### 2026-05-09 (Reserve cap raised 12→21 kWh)\n- User: \"wenn man den strom vom grid kaufen muss ist es ganz schlecht\"\n  — feed-in tonight at 16ct losing money if forced to grid-charge Mon\n  morning at retail (~30ct). The 12 kWh cap (40% SOC) was the binding\n  constraint: walk computed ~34 kWh deficit for the dead-PV streak Mon-Tue\n  but got clipped at 12. End-SOC tomorrow only rose to 50% — still below\n  the daily-load envelope (~17 kWh ≈ 57% SOC).\n- Fix: MAX_RESERVE_KWH 12 → 21 kWh (~70% SOC reserve). End-of-horizon\n  target now climbs to ~80% on dead-PV forecasts, which blocks almost all\n  feed-in tonight (SOC 86% → ~80% = ~2 kWh budget). Cap is non-binding\n  on good-weather forecasts because the walk already weighs PV via\n  getSunshineForecast — sunshine eats most of the deficit on sunny days.\n\n### 2026-05-09 (Multi-day post-horizon reserve)\n- User report: optimizer planned 13 kWh feed-in tonight (mp 14-17ct)\n  draining SOC 86% → 31%, with end-of-tomorrow target 30%. But weather\n  forecast shows Mon-Sat all <2h sunshine each (heavy rain). Tomorrow's\n  modest PV refill (~20 kWh) won't last the streak; would force grid-\n  charge at peak Mon morning. Root cause: post-schedule reserve walk only\n  covered 14h and capped at 6 kWh (~20% SOC). The slightly-negative\n  tomorrow prices (-0.24ct min) tripped the \"strong solar\" rule and set\n  end-of-horizon target to 30%, with no signal that the day after was a\n  PV desert.\n- Fix: extended reserve walk RESERVE_HOURS 14 → 48 and raised cap\n  MAX_RESERVE_KWH 6 → 12 (40% SOC on a 30 kWh battery). The walk already\n  weighs PV via getSunshineForecast (forecastnew has 7d hourly data), so\n  good-weather days don't pad the reserve — only sustained PV holes do.\n  When the next 2 days look bad, end-slot target rises (minTargetSoc +\n  reserve%), which feeds back to feed-in budget (line 936) and runtime\n  socNeeded (line 1330), blocking aggressive overnight feed-in.\n\n### 2026-05-09 (Phase 3a: DP-based preemptive pick)\n- User report: 06:30/06:45 fed in at mp 13.51/12.85 ct while 08:00\n  (mp 13.98 ct, the day's HIGHEST) only held (state=3). Root cause:\n  preemptive sorted candidates by mp DESC and committed top-N without\n  modeling chronological SOC depletion. Phase 4's runtime gate\n  `soc > target+3` then demoted the high-mp later slot because earlier\n  picks had drained SOC below the gate at its time. Net: the best slot\n  of the day silently lost to a lower-mp earlier sibling.\n- Fix: replaced sort-by-mp DESC pick with a 2D DP over (slot_idx,\n  soc_bucket). Maximizes Σ(mp × reliefSoc) subject to (a) round-trip\n  filter mp > minReplacementEffPrice and (b) chronological gate\n  pre-soc > target+3. SOC quantized to 0.5%; ~50 slots × 200 buckets\n  trivial. Removed extraDrainNeeded cap: every DP pick is round-trip\n  profitable, so over-drain is net-revenue-positive (and the gate\n  bounds total drain anyway). reliefSoc uses the same physical metric\n  as Phase 3d (state=3 vs state=4 SOC delta), so high-PV slots with\n  drainW=0 still earn their (pv-load) credit.\n- Regression 9/9 pass.\n\n### 2026-05-07b (Phase 3d: budget uses net relief, cap at 99, round-up)\n- After 5/7a fix, evening peaks were picked but tomorrow midday still\n  forced 1-2 curtailment slots at 6-8 ct. Three compounding errors:\n  (1) Budget loop compared full feedinDrainSoc (3.5%/slot) vs projected\n      overflow, but state=3 would have drained ~0.58%/slot anyway —\n      effective relief per feed-in slot is only ~2.92%. Picked too few.\n  (2) Projection capped overflow at 100% but the runtime curtailment\n      branch fires at soc≥99 — 1% mismatch left a stray curtail slot.\n  (3) Discretization: budget 19.3% / 2.92% per slot rounds DOWN to 6\n      slots (17.52% relief), leaving 1.78% residual to curtail.\n- Fix: (1) new feedinReliefSoc(slot) = feedinDrainSoc + (pv-load)*soc;\n       (2) projection caps at 99 to align with runtime trigger;\n       (3) loop break flips from \"would-overshoot\" to \"already-met\" —\n           pick the slot that crosses budget if mp still beats\n           replacementPrice. The overshoot is bounded by 1 slot.\n- Verified live: 7 evening slots picked (mp 18.89-21.88 ct);\n  tomorrow midday peaks at 97.7% SOC, ZERO curtailment slots.\n  Regression 9/9 pass.\n\n### 2026-05-07 (Phase 3d: pvWillCurtail relax PV-opportunity gate)\n- Round-trip guard still blocked evening feed-in when tomorrow's\n  curtailment mp was positive-but-low. Today (5/7): 17-22 ct evening\n  peak skipped because cheapPvRefillAhead (mp<3) was false — tomorrow's\n  midday lowest mp is 5.45 ct. replacementPrice fell back to\n  minReplacementEffPrice (~24.75 ct from pre-sunrise grid recharge)\n  and 21.88ct evening peak failed 21.88 > 24.75. Same SOC then dumped\n  via forced curtailment at 6-7 ct.\n- Fix: gate pvOpportunityPrice on (cheapPvRefillAhead || pvWillCurtail)\n  where pvWillCurtail = (overflowSoc + postHorizonOverflow) > 0. When\n  PV will saturate the battery anyway, the SOC drained tonight is\n  displaced from a forced curtailment slot, not a hypothetical grid\n  recharge — correct replacement cost is the forgone curtailment\n  revenue (~7-9 ct), not pre-sunrise grid (~24 ct).\n- Verified live: 4 evening slots picked at 21.88/20.32/20.33/20.13 ct;\n  tomorrow's curtailment shrunk from 5 slots to 2. Regression 9/9 pass.\n\n### 2026-05-06 (Saturation cluster + round-trip-aware runtime)\n- Phase 4 runtime \"battery full + PV surplus\" branch was firing\n  opportunistically at the FIRST slot crossing soc≥95 with mp>floor,\n  ignoring round-trip economics. Today (5/6) at 16:00 it fed-in at\n  mp=9.06ct (local minimum of the day) while replacement cost was\n  ~22ct/kWh — a -13ct/kWh loss. The same saturation cluster contained\n  17:30-17:45 at mp=13-14ct, also a loser vs replacement (weak PV\n  forecast tomorrow), so the right answer was: don't feed in at all.\n- Fix: hoisted `replacementPrice` out of the Phase 3d block so the\n  runtime branch can use the same round-trip threshold.\n- Phase 4 \"battery full + PV surplus\" branch now fires only when\n  (a) soc≥99 (imminent curtailment, sell at any mp>FEEDIN_MIN_MP_CT)\n  or (b) mp>replacementPrice (round-trip profitable). Otherwise\n  state=3 (hold), preserving SOC for tomorrow's load.\n- New Phase 3d.2 \"Saturation cluster\" pass: walks the passive\n  projection (`_plannedSoc`), finds consecutive (soc≥95 + PV>load+500)\n  runs, and marks the highest-mp slot per cluster as\n  `feedin_saturation` IFF mp>replacementPrice. Without this, on\n  profitable cluster days the runtime would still fire at the first\n  cluster slot rather than the best-mp one.\n- Planned-feedin branch (Phase 4) now also handles `feedin_saturation`.\n\n### 2026-05-05 (FEEDIN_MIN_MP_CT floor)\n- New constant FEEDIN_MIN_MP_CT=1 prevents feed-in (planned or runtime) at\n  sub-1ct marketPrice. Today produced state=4 at mp=0.14ct (12:30 UTC,\n  soc=96%, PV=4640W) via the Phase 4 \"Battery full + PV surplus, mp > 0\"\n  branch — sub-cent revenue does not cover cycle wear / inverter losses.\n  Floor applied at Phase 3d candidate filter (was mp > 0), Phase 3e\n  minThreshold (was Math.max(0.01, ...)), and Phase 4 runtime branch\n  (was mp > 0). Phase 3d overflow-exempt slots also affected — even\n  truly curtailed PV is not worth cycling the battery for sub-cent prices\n  when actual PV may underperform forecast.\n\n### 2026-04-28 (Phase 3d: PV-refill opportunity cost)\n- When schedule has cheap (mp<3) PV-surplus daylight ahead, replacement\n  cost = avg PV-time market price (forgone feed-in revenue), not the\n  pre-sunrise grid-charge effective price. Was blocking evening feed-in\n  at 13-16c because minReplacementEffPrice computed against a hypothetical\n  24c grid recharge that never happens — tomorrow's PV does the recharge\n  for free. New `cheapPvRefillAhead` scans the WHOLE schedule (not just\n  [0, horizonIdx)) so post-horizon PV is visible. Falls back to original\n  rule on cloudy days. Min ensures we never raise the threshold.\n\n### 2026-04-25 (Retire infra.plan)\n- Removed `write_plan`, `query_prev_plan`, `set_topic_prev_plan`.\n- Removed prev_plan refs from cronplus + `inject_manual`.\n- `join_results.count` 9 -> 8.\n- Optimizer: dropped msg2 build; output[1] now unwired\n  (`return [msg, null, msg3]`). Forward-looking schedule lives in\n  `forecast.batteryplan` only.\n\n### 2026-04-25 (Forecast write: batteryplan)\n- Added `to_batteryplan_points` (function) and `write_batteryplan`\n  (influxdb batch -> forecast db, measurement `batteryplan`).\n- Wired optimizer output[0] to the new chain alongside `debug_schedule`.\n- Optimizer output gains numeric `t` (epoch ms) alongside the existing\n  human-readable `time` string; new function uses `t` for the influx\n  point timestamp (the localized `time` is not Date-parseable).\n- Fields per slot: state, predictedSoc, marketPrice, PvPower.\n- Same slot timestamp overwrites prior forecasts (forward-looking view).\n\n### 2026-04-25 (Phase 3f: cheapest-ep selection within profit-charge stretch)\n- Replaced the time-greedy runtime profit-charge branch (Phase 4) with\n  Phase 3f planning. Within each ep<0 stretch, Phase 3f computes K =\n  floor((100 - entrySoc) / soc_per_charge), sorts stretch slots by ep ASC,\n  and marks the K cheapest-ep slots as _plan='charge'. The existing\n  Phase 4 plan==='charge' branch executes them. Higher-ep slots in the\n  stretch are left unplanned and fall through to the PV-surplus / curtail\n  branches. Without this, the time-first runtime branch would saturate\n  the battery on the early (less-negative) slots and curtail the\n  later, deeper-negative slots — leaving money on the table. Forward-\n  validate no longer relies on isProfitChargeSlot since _plan is now\n  authoritative for charging.\n\n### 2026-04-25 (Phase 3e: pre-discharge for profit-charge windows)\n- Phase 3e plans pre-discharge feed-in BEFORE consecutive ep<0 stretches\n  that would saturate the battery. Without it, paid-to-import slots after\n  the SOC cap are curtailed (e.g. mid-day -19ct slots when battery filled\n  to 100% by earlier neg-eff slots). Phase 3e walks the schedule, simulates\n  SOC including runtime profit-charge, identifies overflow per stretch,\n  and assigns 'feedin_capacity' to the highest-mp earlier unplanned slots\n  until the overflow is consumed. Round-trip threshold is `mp > minEp +\n  cycle_wear` (cycle_wear=3ct), which any positive mp clears for deep\n  neg-eff windows. The forward-validate now also handles 'feedin_capacity'\n  and models profit-charge so evening feed-ins aren't incorrectly demoted.\n  isProfitChargeSlot() helper centralises the runtime-charge predicate\n  (used by Phase 3c trajectory, Phase 3d projections, Phase 3e detection,\n  forward-validate).\n\n### 2026-04-25 (profit-charge at neg effective price)\n- Added profit-charge branch: whenever effectivePrice < 0 and SOC < 95%\n  the optimizer now goes state=1 / MAX_CHARGE_W, capturing the paid-to-\n  import value regardless of future load needs. Previously grid charging\n  required SOC to drop below MIN_SOC+5 future-need threshold, so deeply\n  negative-price slots on sunny days produced PV-only charging while\n  free-money grid intake was left on the table. Inserted ahead of the\n  \"Strong PV surplus\" branch so PV+grid combine up to the charger limit;\n  preemptive-night exclusion preserved (no grid charging at night before\n  next-day solar). Feed-in-at-neg-price hard guard untouched — import\n  and export sides are independent.\n\n### 2026-04-24 (round-trip guard fix)\n- Round-trip feed-in guard now excludes PV-surplus slots from the\n  replacement-cost calculation in BOTH Phase 3d and preemptive.\n  Previously the cheapest future effectivePrice was dragged down by\n  mid-day glut slots (e.g. -9ct), but we can't actually grid-charge\n  during glut — PV refills the battery for free. The true replacement\n  cost is paid when PV < load (morning dead zone, late night), where\n  grid serves load or recharges the battery at effective ~22ct.\n  Preemptive filter now also restricts to pre-sunrise + future-only\n  (was including past slots because the past-slot trim happens after\n  the preemptive block).\n\n### 2026-04-24 (preemptive round-trip guard)\n- Preemptive discharge now applies the same round-trip economic check\n  that Phase 3d feed-in uses. Each candidate evening slot's marketPrice\n  must exceed the cheapest future effectivePrice in slots where grid\n  charging is plausibly needed (pvPower < loadEst + 500W). Without the\n  check, the optimizer was feeding to grid at ~11ct evening and then\n  planning morning grid charges at ~22ct effective — a ~11ct/kWh loss\n  per cycle. PV-glut slots are excluded from the replacement set because\n  the battery can't actually be charged from them (it's filled by PV\n  surplus directly).\n\n### 2026-04-24 (target SOC raised)\n- Preemptive sunrise target SOC bumped. Floor is now 30% when\n  neg-prices confirm the glut (was 20%), else 40% (was 35%). The\n  hard cap in the neg-price branch is now 30% (was 20%). Experience\n  showed the earlier 20% target left too little morning reserve on\n  mixed-forecast days; the glut day can still absorb plenty of PV\n  starting from 30%.\n\n## Changelog\n\n### 2026-04-24 (schedule → global.pp.prediction)\n- Battery Optimizer now writes its first-output schedule array\n  (`output`) into `global.pp.prediction` (file store) just before\n  returning, so downstream flows can consume the planned schedule\n  without subscribing to the optimizer's output messages. Uses the\n  `file` store to match the existing `pp` object. Reverted the\n  earlier attempt that stored the raw pv_history array there.\n\n### 2026-04-24 (later)\n- Preemptive sunrise target SOC: floor raised and made conditional on\n  neg-price confirmation. Was `max(15, 100-capacityNeededPct)`; now\n  `max(socFloor, 100-capacityNeededPct)` where socFloor = 20 when\n  negPriceSlots >= 4 (external confirmation of glut) else 35. The old\n  15% floor trusted the PV forecast alone and left no buffer for the\n  morning peak if PV underperformed.\n\n### 2026-04-24\n- Rolling-horizon refill detection now uses relative thresholds: flag\n  `dipped` when passive SOC falls ≥5 points below its running peak, set\n  horizon at first recovery within 3 points of that peak. Absolute\n  70/85 thresholds missed high-starting-SOC runs where the overnight\n  trough never broke 70, collapsing the feed-in budget to 0 and\n  skipping legitimate evening peaks.\n- Replace bare `new Date()` with `new Date(Date.now())` in the pv_history\n  day-of-year filter so regression tests' Date.now mock is respected\n  (V8's no-arg `new Date()` bypasses mocked Date.now).\n- Scenario 1 now passes (8/8).\n- Load estimator now uses 7-day history with per-hour MEDIAN across\n  days (was: last 24h, single value per hour overwritten by final\n  row — a single-day spike like EV charging at 07:00 poisoned every\n  future 07:00 forecast). Hours with <3 samples fall back to\n  AVG_LOAD_W. Also widened InfluxDB query from 24h to 7d.\n- Preemptive glut day is now the current-or-next daylight period,\n  so preemptive still runs when the cron fires after sunrise on\n  the glut day itself (old code required a night→day transition\n  and silently disabled preemptive in that case).\n- Preemptive eligibility window extended from \"night + pre-PV morning\"\n  to \"now → post-glut sunrise\", sorted by price DESC, so the morning\n  peak wins over sub-1ct pre-dawn slots.\n- Preemptive drain sizing projects SOC with PV+load (+ overflow above\n  100%) across the window instead of assuming load-only.\n- Feed-in budget projection continues past horizonIdx through the next\n  daylight period to catch PV curtailment after the refill slot.\n- Added regression scenarios 7 and 8.\n\n### 2026-04-17\n- Phase 3d: add round-trip economic check on planned feed-in.\n  Non-overflow feed-in now requires marketPrice > cheapest future\n  effectivePrice (marketPrice + gridFee) among unplanned slots.\n  Overflow (curtailment) SOC remains exempt — pure revenue.\n  Fixes: evening feed-in followed by morning grid-charge at a net loss.\n\n",
        "x": 150,
        "y": 80,
        "wires": []
    },
    {
        "id": "to_batteryplan_points",
        "type": "function",
        "z": "flow_battery_v2",
        "name": "to batteryplan points",
        "func": "// Convert optimizer schedule (msg.payload) to InfluxDB batch points\n// for measurement 'batteryplan' in the forecast db.\n// Same slot timestamp on re-writes overwrites prior forecasts.\nconst sched = Array.isArray(msg.payload) ? msg.payload : [];\nconst points = [];\nfor (const s of sched) {\n    if (!s || typeof s.t !== 'number') continue;\n    const ts = new Date(s.t);\n    if (isNaN(ts.getTime())) continue;\n    const fields = {};\n    if (s.state !== null && s.state !== undefined) fields.state = Number(s.state);\n    if (s.predictedSoc !== null && s.predictedSoc !== undefined) fields.predictedSoc = Number(s.predictedSoc);\n    if (s.marketPrice !== null && s.marketPrice !== undefined) fields.marketPrice = Number(s.marketPrice);\n    if (s.pvPower !== null && s.pvPower !== undefined) fields.PvPower = Number(s.pvPower);\n    if (Object.keys(fields).length === 0) continue;\n    points.push({ measurement: 'batteryplan', fields: fields, timestamp: ts });\n}\nif (!points.length) return null;\nreturn { payload: points };\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 700,
        "wires": [
            [
                "write_batteryplan"
            ]
        ]
    },
    {
        "id": "write_batteryplan",
        "type": "influxdb batch",
        "z": "flow_battery_v2",
        "influxdb": "influxdb_config_forecast",
        "precision": "ms",
        "retentionPolicy": "",
        "name": "Write to forecast.batteryplan",
        "database": "forecast",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "",
        "bucket": "",
        "x": 1260,
        "y": 700,
        "wires": []
    }
]
